<%= form_for(@favorite_event) do |f| %>
  <% if @favorite_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@favorite_event.errors.count, "error") %> prohibited this favorite_event from being saved:</h2>

      <ul>
      <% @favorite_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event_id %><br>
    <%= f.number_field :event_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
