

<p id="notice"><%= notice %></p>

<h1>Listing Favorite Events</h1>

<% if user_signed_in? %>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @favorite_events.each do |favorite_event| %>
      <tr>
        <td><%= favorite_event.event_id %></td>
        <td><%= link_to favorite_event.event.title, favorite_event.event %></td>
        <td><%= link_to 'Destroy', favorite_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Favorite event', new_favorite_event_path %>
<% end %>
