// Default Variables

$ft-family-basic: sans-serif;
$ft-family-second: Arial, Helvetica, sans-serif;

$ft-xs:   0.75rem;
$ft-s:   0.875rem;
$ft-m:       1rem;
$ft-l:   1.125rem;
$ft-xl:    1.5rem;
$ft-xxl: 1.875rem;
$ft-big: 2.250rem;

// font-size: 11.4286003112793px;      0.75
// font-size: 14px;                    0.875
// font-size: 15px;                    1
// font-size: 18px;                    1.125
// font-size: 22.8570995330811px;      1.5
// font-size: 30px;                    1.875


$ft-normal: $ft-s;

$ft-h1: $ft-xl;
$ft-h2: $ft-l;
$ft-h3: $ft-m;

$line-normal: 1.6em;

$normal-width: 100%;

$cl-white: rgb(255, 255, 255);
$cl-grey: rgb(128, 128, 128);
$cl-grey-dark: rgb(51, 51, 51);
$cl-black: rgb(0, 0, 0);
$cl-blue-link: rgb(66, 139, 202);
$cl-blue-link-hover: rgb(42, 100, 150);
$cl-red: rgb(228, 85, 31);
$cl-red-dark: rgb(204, 76, 27);
$cl-yellow: rgb(239, 184, 10);
$cl-yellow-dark: rgb(214, 165, 10);
$cl-green: rgb(198, 213, 37);
$cl-green-dark: rgb(177, 191, 34);
$cl-blue: rgb(79, 172, 227);
$cl-blue-dark: rgb(69, 153, 202);
$cl-orange: rgb(255, 135, 0);
$cl-orange-dark: rgb(229, 121, 1);
$cl-grey-2: rgb(106, 120, 115);
$cl-green-2: rgb(92, 184, 92);
$cl-pink: rgb(193, 4, 124);
$cl-grey-light: rgb(189, 196, 194);
$cl-darken: rgba(0, 0, 0, 0.1);
$cl-pink-bg: rgba(193, 4, 124, 0.1);

// end

// Special Variables

  // put new variables here

// end

// SASS mixins

@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

// end

// Default Setup

*{
  margin: 0 auto;
  padding: 0;
  outline: 0;
}

body{
  margin: 0;
  font-family: $ft-family-basic;
}
.full-width{
  width: 100%;
}
.page-width{
  padding: 0 30px;
  max-width: $normal-width;
}
.half-width{
  max-width: $normal-width/2;
}

.clearfix{
  width: 100%;
  clear: both;
}
.caps{
	text-transform: uppercase;
}
.no-caps{
  text-transform: none;
}

.abs{
  position: absolute;
}
.rel{
  position: relative;
}
.fix{
  position: fixed;
}

.block{
  text-align: justify;
}
.center{
  text-align: center;
}

.f-left{
  float: left !important;
}
.f-right{
  float: right;
}
.f-wrap{
  overflow: auto;
}

.hide{
  display: none;
}

.breadcrumbs{
  padding-top: 0px;
  font-size: 11px;
  margin-top: -15px;
  clear: both;
}

@mixin transX-center{
  left: 50%;
  @include vendor-prefix(transform, "translateX(-50%)");
}
.transX-center{
  @include transX-center;
}
@mixin transY-center{
  top: 50%;
  @include vendor-prefix(transform, "translateY(-50%)");
}
.transY-center{
  @include transY-center;
}
@mixin trans-center{
  left: 50%; top: 50%;
  @include vendor-prefix(transform, "translate(-50%, -50%)");
}
.trans-center{
  @include trans-center;
}
@mixin trans-none{
  left: 0; top: 0;
  @include vendor-prefix(transform, "translate(0, 0)");
}
.trans-none{
  @include trans-none;
}

.content-ratio{
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
}

.container-wrapper{
  overflow: auto;
}
.container-inside{
  padding: 0 15px;
}

@mixin container-1{
  float: left;
  width: 100%;
  .container-inside{
    padding: 0 0;
  }
}
.container-1{
  @include container-1;
}
@mixin container-2{
  float: left;
  width: 50%;
}
.container-2{
  @include container-2;
}
.container-3{
  float: left;
  width: 33.33%;
}
@media only screen and (max-width: 980px) {
  .container-3{
    @include container-2;
    &:last-child{
      position: relative;
      padding-top: 3rem;
      @include transX-center;
    }
  }
}
@media only screen and (max-width: 740px) {
  .container-2{
    @include container-1;
    .container-inside{
      padding: 0 0;
    }
    &:last-child{
      padding-top: 3rem;
    }
  }
  .container-3{
    @include container-1;
    .container-inside{
      padding: 0 0;
    }
    &:nth-child(2){
    }
    &:last-child{
      position: initial;
      @include trans-none;
    }
  }
}

// end

// Special Setup

  // put new setup here

// end

// Default Text

@mixin normalize-text{
  line-height: $line-normal;
  font-size: $ft-normal;
  font-weight: normal;
  font-style: normal;
  padding: 0;
}

@mixin normalize-lists{
  list-style-type: none;
  padding: 0;
}

h1, h2, h3, p, ul, ol, li, strong, em, code{
  @include normalize-text;
  &:last-child{
    padding-bottom: 0;
  }
  &.no-style, &.no-style > li{
    @include normalize-text;
    line-height: 1em;
  }
}

ul, ol{
  @include normalize-lists;
  &.no-style{
    @include normalize-lists;
  }
}

h1{
  font-size: $ft-h1;
  font-weight: bold;
}

h2{
  font-size: $ft-h2;
  font-weight: bold;
}

h3{
  font-size: $ft-h3;
  font-weight: bold;
}

h6{
  float: right;
  line-height: 70px;
}

p{
}

ul, ol{
  li{

  }
}

ul{
  list-style: disc;
  padding-left: 2em;
  li{

  }
}

ol{
  list-style-type: decimal;
  padding-left: 2em;
  li{

  }
}

li > ul, li > ol{
  padding-left: 2em;
}

strong{
  font-weight: bold;
}

em{
  font-style: italic;
}

a{
  color: $cl-blue-link;
  text-decoration: none;
  &:hover, &:active{
    color: $cl-blue-link-hover !important;
  }
  &:visited{
    color: $cl-blue-link;
  }
}

.default-text{
  h1, h2, h3, p, ul, ol, li, strong, em, code{
    @include normalize-text;
    &:last-child{
      padding-bottom: 0;
    }
    &.no-style, &.no-style > li{
      @include normalize-text;
      line-height: 1em;
    }
  }

  ul, ol{
    @include normalize-lists;
    &.no-style{
      @include normalize-lists;
    }
  }

  h1{
    font-size: $ft-h1;
    font-weight: bold;
    padding: 10px 0 10px 0;
  }

  h2{
    font-size: $ft-h2;
    font-weight: bold;
    padding: 0 0 5px 0;
  }

  h3{
    font-size: $ft-h3;
    font-weight: bold;
    padding: 0 0 5px 0;
  }

  p{
    padding: 0 0 5px 0;
  }

  ul, ol{
    li{

    }
  }

  ul{
    list-style: disc;
    padding: 0 0 5px 2em;
    li{

    }
  }

  ol{
    list-style-type: decimal;
    padding: 0 0 5px 2em;
    li{

    }
  }

  li > ul, li > ol{
    padding-left: 2em;
  }

  strong{
    font-weight: bold;
  }

  em{
    font-style: italic;
  }

  a{
    color: $cl-blue-link;
    text-decoration: none;
    &:hover, &:active{
      color: $cl-blue-link-hover !important;
      text-decoration: underline;
    }
    &:visited{
      color: $cl-blue-link;
    }
  }
}

.list-unstyled{
  padding-left: 0 !important;
}

// end

// Special Text

  // put new text setup here

// end


@media only screen and (max-width: 1640px) {

}

@media only screen and (max-width: 1366px) {

}

@media only screen and (max-width: 1280px) {

}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 980px) {

}

@media only screen and (max-width: 820px) {

}

@media only screen and (max-width: 740px) { /* cover iPhone 640w */

}

@media only screen and (max-width: 620px) { /* cover iPhone 480*/

}

@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 340px) {

}
