@import "0-default";

.ui-helper-hidden-accessible{
	display: none !important;
}

.ui-autocomplete{
	@include normalize-lists;
	margin: 0;
	max-width: 80%;
	li{
		max-width: 370px;
		width: 100%;
		margin: 0;
		border-left: 1px solid black;
		border-right: 1px solid black;
		@include vendor-prefix(box-sizing, "border-box");
		&:first-child{
			border-top: 1px solid black;
		}
		&:last-child{
			border-bottom: 1px solid black;
		}
		a{
			display: block;
			padding: 2px 5px;
			white-space: nowrap;
			overflow: hidden;
			font-size: $ft-normal;
			color: black;
			background-color: $cl-white;
			&:hover, &:active{
				color: black !important;
				background-color: #F0F0F0;
			}
			&:visited{
				color: black;
			}
		}
	}
}