body{
	  background: #ffffff url('/assets/bg-summer.png') 220px 0 repeat-x;
	  background-size: 66%;
	  &.without_background{
	  	background-image: none;
	  }
}

.bg-body-1{
	background-image: url('/assets/bg-summer.png');
}
.bg-body-2{
	background-image: url('/assets/bg-winter.png');
}
.bg-body-3{
	background-image: url('/assets/bg-city.png');
}
.bg-body-4{
	background-image: url('/assets/bg-sport.png');
}

@media only screen and (max-width: 1366px) {

body{
	  background: #ffffff url('/assets/bg-summer.png') 180px 0 repeat-x;
	  background-size: 66%;
}

}

@media only screen and (max-width: 980px) {

body{
	  background: #ffffff url('/assets/bg-summer.png') 0 0 repeat-x;
	  background-size: 80%;
}

}

@media only screen and (max-width: 740px) { /* cover iPhone 640w */ 

body{
	  background: #ffffff url('/assets/bg-summer.png') 0 0 repeat-x;
	  background-size: 90%;
}

}

@media only screen and (max-width: 480px) {

body{
	  background: #ffffff url('/assets/bg-summer.png') -100px 0 repeat-x;
	  background-size: 120%;
}

}