@import "0-default";

.banner-big{
	text-align: center;
	margin-bottom: 20px;
	img{
		max-width: 100%;
	}
	.slick-dots{
		list-style: none;
		padding: 0;
		margin: 0;
		font-size: 0;
		line-height: 0;
		margin-top: 10px;
		li{
			display: inline-block;
			padding: 0;
			margin: 0;
			font-size: 0;
			line-height: 0;
			button{
				width: 10px; height: 10px;
				padding: 0px;
				position: relative;
				font-size: 0;
				line-height: 0;
				cursor: pointer;
				color: transparent;
				border: 0;
				outline: none;
				background: transparent;
				margin: 4px;
				&:after{
					content: "";
					width: 6px; height: 6px;
					position: absolute;
					left: 0; top: 0;
					border: 2px solid $cl-black;
					border-radius: 6px;
				}
			}
			&.slick-active{
				button{
					&:after{
						background-color: $cl-black;
					}
				}
			}
		}
	}
}

.banners-search{
	float: right;
	padding: 0 10px 10px 10px;
	max-width: 748px;
	width: 100%;
	@include vendor-prefix(box-sizing, "border-box");
	img{
		width: 100%;
		height: auto;
	}
}

@media only screen and (max-width: 1024px) {

.banner-big{
	margin-bottom: 13px;
	.slick-dots{
		margin-top: 8px;
		li{
			button{
				width: 18px; height: 18px;
				margin: 6px;
				&:after{
					width: 14px; height: 14px;
					border: 2px solid $cl-black;
					border-radius: 14px;
				}
			}
		}
	}
}

}

