@import "0-default";

.categories-all{
	font-size: $ft-normal;
	line-height: 1.1em;
	margin-bottom: 50px;
	.category-card{
		width: 20%;
		float: left;
		position: relative;
		margin-bottom: 10px;
		&:nth-child(5n+1){
			clear: left;
		}
		.category-card-border{
			position: absolute;
			left: 2px; top: 2px;
			right: 2px; bottom: 2px;
			border: 2px solid transparent;
			border-radius: 6px;
			// @include vendor-prefix(transition-duration, ".3s");
			&.double-border{
				border-width: 4px;
				left: 1px; top: 1px;
				right: 1px; bottom: 1px;
				background-color: #fafafa;
			}
		}
		.category-card-content{
			padding: 9px;
			position: relative;
			// @include vendor-prefix(transition-duration, ".3s");
			.category-card-content-inner{
				width: 100%;
				// @include vendor-prefix(transition-duration, ".3s");
			}
		}
		.category-card-content-inner{
			.category-button{
				height: 57px;
				padding: 7px 45px 0px 10px;
				@include vendor-prefix(box-sizing, "border-box");
				border-top-left-radius: 3px;
				border-top-right-radius: 3px;
				border-radius: 3px;
				position: relative;
				&:after{
					content: "";
					background: url('/assets/sprite-arrows.png') no-repeat -75px -2px;
					width: 19px; height: 27px;
					position: absolute;
					right: 6px; top: 15px;
					opacity: .25;
				}
				&:hover{
					&:after{
						opacity: 1;
					}
				}
			}
			a.card-head{
			  color: $cl-white !important;
			  text-decoration: none;
			  font-weight: bold;
			  text-transform: uppercase;
			  &:hover, &:active, &:visited{
			    color: $cl-white !important;
			  }
			}
			.category-card-list{
				font-size: $ft-normal;
				line-height: 1.1em;
				.card-main-event{
					img{
						width: 100%; height: auto;
						margin-top: 3px;
						padding-bottom: 5px;
					}
					.card-title{
						height: 2.2em;
						overflow: hidden;
					}
				}
				.card-event{
					margin-top: 10px;
					img{
						width: 40%; height: auto;
						padding-right: 5px;
						float: left;
						@include vendor-prefix(box-sizing, "border-box");
					}
					.card-title{
						font-size: $ft-xs;
						width: 60%;
						float: left;
					}
				}
			}
			a{
				.card-title{
					text-decoration: none;
				}
				&:hover, &:active{
					.card-title{
						text-decoration: underline;
					}
				}
			}
		}
		&.category-orange{
			a{
				.card-title{
					color: $cl-orange;
				}
				&:hover, &:active{
					.card-title{
						color: $cl-orange-dark !important;
					}
			  	}
				&:visited{
					.card-title{
						color: $cl-orange;
					}
				}
			}
			color: $cl-orange;
			.category-button{
					background: #dd6500;
					background: -moz-linear-gradient(top, #dd6500 0%, #ff9811 100%);
					background: -webkit-gradient(left top, left bottom, color-stop(0%, #dd6500), color-stop(100%, #ff9811));
					background: -webkit-linear-gradient(top, #dd6500 0%, #ff9811 100%);
					background: -o-linear-gradient(top, #dd6500 0%, #ff9811 100%);
					background: -ms-linear-gradient(top, #dd6500 0%, #ff9811 100%);
					background: linear-gradient(to bottom, #dd6500 0%, #ff9811 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd6500', endColorstr='#ff9811', GradientType=0 );
				&:hover{
				background: #ff9811;
				background: -moz-linear-gradient(top, #ff9811 0%, #dd6500 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, #ff9811), color-stop(100%, #dd6500));
				background: -webkit-linear-gradient(top, #ff9811 0%, #dd6500 100%);
				background: -o-linear-gradient(top, #ff9811 0%, #dd6500 100%);
				background: -ms-linear-gradient(top, #ff9811 0%, #dd6500 100%);
				background: linear-gradient(to bottom, #ff9811 0%, #dd6500 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9811', endColorstr='#dd6500', GradientType=0 );
				}
			}
		}
		&.category-blue{
			a{
				.card-title{
					color: $cl-blue;
				}
				&:hover, &:active{
					.card-title{
						color: $cl-blue-dark !important;
					}
			  	}
				&:visited{
					.card-title{
						color: $cl-blue;
					}
				}
			}
			color: $cl-blue;
			.category-button{
					background: #2d8ac1;
					background: -moz-linear-gradient(top, #2d8ac1 0%, #5fbdf4 100%);
					background: -webkit-gradient(left top, left bottom, color-stop(0%, #2d8ac1), color-stop(100%, #5fbdf4));
					background: -webkit-linear-gradient(top, #2d8ac1 0%, #5fbdf4 100%);
					background: -o-linear-gradient(top, #2d8ac1 0%, #5fbdf4 100%);
					background: -ms-linear-gradient(top, #2d8ac1 0%, #5fbdf4 100%);
					background: linear-gradient(to bottom, #2d8ac1 0%, #5fbdf4 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d8ac1', endColorstr='#5fbdf4', GradientType=0 );
				&:hover{
				background: #5fbdf4;
				background: -moz-linear-gradient(top, #5fbdf4 0%, #2d8ac1 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, #5fbdf4), color-stop(100%, #2d8ac1));
				background: -webkit-linear-gradient(top, #5fbdf4 0%, #2d8ac1 100%);
				background: -o-linear-gradient(top, #5fbdf4 0%, #2d8ac1 100%);
				background: -ms-linear-gradient(top, #5fbdf4 0%, #2d8ac1 100%);
				background: linear-gradient(to bottom, #5fbdf4 0%, #2d8ac1 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5fbdf4', endColorstr='#2d8ac1', GradientType=0 );
				}
			}
		}
		&.category-green{
			a{
				.card-title{
					color: $cl-green;
				}
				&:hover, &:active{
					.card-title{
						color: $cl-green-dark !important;
					}
			  	}
				&:visited{
					.card-title{
						color: $cl-green;
					}
				}
			}
			color: $cl-green;
			.category-button{
					background: #a4b303;
					background: -moz-linear-gradient(top, #a4b303 0%, #d7e636 100%);
					background: -webkit-gradient(left top, left bottom, color-stop(0%, #a4b303), color-stop(100%, #d7e636));
					background: -webkit-linear-gradient(top, #a4b303 0%, #d7e636 100%);
					background: -o-linear-gradient(top, #a4b303 0%, #d7e636 100%);
					background: -ms-linear-gradient(top, #a4b303 0%, #d7e636 100%);
					background: linear-gradient(to bottom, #a4b303 0%, #d7e636 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b303', endColorstr='#d7e636', GradientType=0 );
				&:hover{
				background: #d7e636;
				background: -moz-linear-gradient(top, #d7e636 0%, #a4b303 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, #d7e636), color-stop(100%, #a4b303));
				background: -webkit-linear-gradient(top, #d7e636 0%, #a4b303 100%);
				background: -o-linear-gradient(top, #d7e636 0%, #a4b303 100%);
				background: -ms-linear-gradient(top, #d7e636 0%, #a4b303 100%);
				background: linear-gradient(to bottom, #d7e636 0%, #a4b303 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7e636', endColorstr='#a4b303', GradientType=0 );
				}
			}
		}
		&.category-red{
			a{
				.card-title{
					color: $cl-red;
				}
				&:hover, &:active{
					.card-title{
						color: $cl-red-dark !important;
					}
			  	}
				&:visited{
					.card-title{
						color: $cl-red;
					}
				}
			}
			color: $cl-red;
			.category-button{
					background: #c2330d;
					background: -moz-linear-gradient(top, #c2330d 0%, #f5662f 100%);
					background: -webkit-gradient(left top, left bottom, color-stop(0%, #c2330d), color-stop(100%, #f5662f));
					background: -webkit-linear-gradient(top, #c2330d 0%, #f5662f 100%);
					background: -o-linear-gradient(top, #c2330d 0%, #f5662f 100%);
					background: -ms-linear-gradient(top, #c2330d 0%, #f5662f 100%);
					background: linear-gradient(to bottom, #c2330d 0%, #f5662f 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2330d', endColorstr='#f5662f', GradientType=0 );
				&:hover{
				background: #f5662f;
				background: -moz-linear-gradient(top, #f5662f 0%, #c2330d 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, #f5662f), color-stop(100%, #c2330d));
				background: -webkit-linear-gradient(top, #f5662f 0%, #c2330d 100%);
				background: -o-linear-gradient(top, #f5662f 0%, #c2330d 100%);
				background: -ms-linear-gradient(top, #f5662f 0%, #c2330d 100%);
				background: linear-gradient(to bottom, #f5662f 0%, #c2330d 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5662f', endColorstr='#c2330d', GradientType=0 );
				}
			}
		}
		&.category-yellow{
			a{
				.card-title{
					color: $cl-yellow;
				}
				&:hover, &:active{
					.card-title{
						color: $cl-yellow-dark !important;
					}
			  	}
				&:visited{
					.card-title{
						color: $cl-yellow;
					}
				}
			}
			color: $cl-yellow;
			.category-button{
					background: #cd9608;
					background: -moz-linear-gradient(top, #cd9608 0%, #ffc91b 100%);
					background: -webkit-gradient(left top, left bottom, color-stop(0%, #cd9608), color-stop(100%, #ffc91b));
					background: -webkit-linear-gradient(top, #cd9608 0%, #ffc91b 100%);
					background: -o-linear-gradient(top, #cd9608 0%, #ffc91b 100%);
					background: -ms-linear-gradient(top, #cd9608 0%, #ffc91b 100%);
					background: linear-gradient(to bottom, #cd9608 0%, #ffc91b 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cd9608', endColorstr='#ffc91b', GradientType=0 );
				&:hover{
				background: #ffc91b;
				background: -moz-linear-gradient(top, #ffc91b 0%, #cd9608 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffc91b), color-stop(100%, #cd9608));
				background: -webkit-linear-gradient(top, #ffc91b 0%, #cd9608 100%);
				background: -o-linear-gradient(top, #ffc91b 0%, #cd9608 100%);
				background: -ms-linear-gradient(top, #ffc91b 0%, #cd9608 100%);
				background: linear-gradient(to bottom, #ffc91b 0%, #cd9608 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc91b', endColorstr='#cd9608', GradientType=0 );
				}
			}
		}
		&:hover{
			.category-card-content{
				//padding: 6px;
				.category-card-content-inner{
					//height: 258px;
				}
			}
			&.category-orange{
				.category-card-border{
					border-color: $cl-orange;
				}
			}
			&.category-blue{
				.category-card-border{
					border-color: $cl-blue;
				}
			}
			&.category-green{
				.category-card-border{
					border-color: $cl-green;
				}
			}
			&.category-red{
				.category-card-border{
					border-color: $cl-red;
				}
			}
			&.category-yellow{
				.category-card-border{
					border-color: $cl-yellow;
				}
			}
		}
	}
}


@media only screen and (max-width: 1640px) {

}

@media only screen and (max-width: 1366px) {

}

@media only screen and (max-width: 1280px) {

.categories-all{
	.category-card{
		width: 25%;
		&:nth-child(5n+1){
			clear: none;
		}
		&:nth-child(4n+1){
			clear: left;
		}
	}
}

}

@media only screen and (max-width: 1024px) {

.categories-all{
	.category-card{
		width: 33.33%;
		&:nth-child(4n+1){
			clear: none;
		}
		&:nth-child(3n+1){
			clear: left;
		}
	}
}

}

@media only screen and (max-width: 980px) {

}

@media only screen and (max-width: 820px) {

}

@media only screen and (max-width: 740px) { /* cover iPhone 640w */ 

.categories-all{
	.category-card{
		width: 50%;
		&:nth-child(3n+1){
			clear: none;
		}
		&:nth-child(2n+1){
			clear: left;
		}
	}
}

}

@media only screen and (max-width: 620px) { /* cover iPhone 480*/ 

}

@media only screen and (max-width: 480px) {

.categories-all{
	.category-card{
		width: 100%;
		clear: left;
	}
}

}

@media only screen and (max-width: 340px) {

}