@import "0-default";

.company-slide-wrapper{
	height: 490px;
	position: relative;
}

.company-detail-for{
	height: 100%;
	background-color: $cl-black;
	.slick-list{
		height: 100%;
		.slick-track{
			height: 100%;
		}
	}
	.company-image{
		width: 100%; height: 100%;
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
	}
}

.pinkLine{
	height: 30px;
	width: 100%;
	background-color: $cl-pink;
}

.company-detail-wrapper{
	text-align: left;
	position: relative;
}

.banners-side-right{
	position: absolute;
	right: 10px;
	top: 20px;
	width: 240px; height: auto;
	img{
		width: 100%; height: auto;
	}
}

.company-detail-inner{
	min-height: 600px;
	padding: 0 10px;
	padding-right: 280px;
	max-width: 1000px;
	margin: 0;
	.company-head{
		padding-right: 40px;
		position: relative;
		margin-top: 15px;
		h1.company-h{
			font-size: $ft-big;
			font-weight: normal;
			line-height: 1.2;
			&.category-orange{
				color: $cl-orange;
			}
			&.category-blue{
				color: $cl-blue;
			}
			&.category-green{
				color: $cl-green;
			}
			&.category-red{
				color: $cl-red;
			}
			&.category-yellow{
				color: $cl-yellow;
			}
		}
		.company-in-map{
			width: 24px; height: 24px;
			background-color: red;
			position: absolute;
			right: 10px; top: 4px;
			display: block;
			background: url('/assets/sprite-event.png') no-repeat -80px -2px;
			&:hover{
				background-position: -54px -2px;
			}
		}
	}
	h2.company-h{
		font-size: $ft-l;
		font-weight: normal;
		padding: 10px 0;
	}
	.company-description{
		padding-top: 30px;
		padding-bottom: 50px;
	}
}

.company-detail-inner2{
	padding: 0 10px;
	.pastEventsButton{
		position: relative;
		max-width: 300px;
		margin-bottom: 20px;
		display: block;
		text-align: center;
		border-radius: 5px;
		padding: 10px 10px;
		color: $cl-white;
		cursor: pointer;
		text-transform: uppercase;
		font-weight: bold;
		font-size: $ft-m;
		background: #e255b0;
		background: -moz-linear-gradient(top, #c1047c 17%, #e255b0 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(17%, #c1047c), color-stop(100%, #e255b0));
		background: -webkit-linear-gradient(top, #c1047c 17%, #e255b0 100%);
		background: -o-linear-gradient(top, #c1047c 17%, #e255b0 100%);
		background: -ms-linear-gradient(top, #c1047c 17%, #e255b0 100%);
		background: linear-gradient(to bottom, #c1047c 17%, #e255b0 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b10c76', endColorstr='@magenta-light', GradientType=0);
		&:hover, &.button-show{
			background: -moz-linear-gradient(top, #e255b0 0%, #c1047c 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e255b0), color-stop(100%, #c1047c));
			background: -webkit-linear-gradient(top, #e255b0 0%, #c1047c 100%);
			background: -o-linear-gradient(top, #e255b0 0%, #c1047c 100%);
			background: -ms-linear-gradient(top, #e255b0 0%, #c1047c 100%);
			background: linear-gradient(to bottom, #e255b0 0%, #c1047c 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@magenta-light', endColorstr='#d61190', GradientType=0);
		}
	}
	.events-all{
		margin-top: 10px;
	}
}

@media only screen and (max-width: 1640px) {

}

@media only screen and (max-width: 1366px) {

}

@media only screen and (max-width: 1280px) {

.company-detail-inner{

}

}

@media only screen and (max-width: 1024px) {

.banners-side-right{
	display: none;
}

.company-detail-inner{
	padding-right: 10px;
	min-height: 0px;
}

}

@media only screen and (max-width: 980px) {

}

@media only screen and (max-width: 820px) {

.company-detail-inner{
	.company-head{
		h1.company-h{
			font-size: $ft-xxl;
		}
	}
}

}

@media only screen and (max-width: 740px) { /* cover iPhone 640w */ 

}

@media only screen and (max-width: 620px) { /* cover iPhone 480*/ 

.company-slide-wrapper{
	height: 300px;
}

.company-detail-inner{
	.company-head{
		padding-right: 10px;
		h1.company-h{
			font-size: $ft-xxl;
		}
	}
}

}

@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 340px) {

}
