@import "0-default";

.cLink{
	td{
		cursor: pointer;
	}
}

.companies-table{
	width: 100%;
	color: $cl-grey-dark;
	@include vendor-prefix(box-sizing, "border-box");
	padding: 0 20px;

	th{
		font-size: $ft-m;
		font-weight: normal;
		line-height: 1em;
		color: $cl-grey-dark;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		border-left: 1px solid #ddd;
		background-color: #f5f5f5;
		padding: 10px 15px;
		&:first-child{
			border-top-left-radius: 4px;
		}
		&:last-child{
			border-top-right-radius: 4px;
			border-right: 1px solid #ddd;
		}
	}
	td{
		font-size: $ft-normal;
		border-bottom: 1px solid #ddd;
		border-left: 1px solid #ddd;
		padding: 10px 15px;
		&:last-child{
			border-right: 1px solid #ddd;
		}
	}
	.cLink{
		.cLinks a{
			color: $cl-grey-dark;
		}
		.cName{
			font-size: $ft-l;
		}
		&:hover{
			background-color: $cl-pink;
			.cLinks a{
				color: white;
			}
		}
		a:hover{
			color: white !important;
		}
		.cImage{
			max-width: 150px;
			width: 30%;
			padding: 5px !important;
			img{
				width: 100%;
			}
		}
	}
}

@media only screen and (max-width: 1640px) {

}

@media only screen and (max-width: 1366px) {

}

@media only screen and (max-width: 1280px) {

}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 980px) {

}

@media only screen and (max-width: 820px) {

}

@media only screen and (max-width: 740px) { /* cover iPhone 640w */ 

.companies-table{
	padding: 0 10px;
}

}

@media only screen and (max-width: 620px) { /* cover iPhone 480*/ 

}

@media only screen and (max-width: 480px) {

.companies-table{
	.cLink{
		.cName{
			font-size: $ft-m;
		}
	}
}

}

@media only screen and (max-width: 340px) {

}