@import "0-default";

// API:
// http://www.daterangepicker.com/

.daterangepicker .btn, .daterangepicker .ranges ul li{
  border-radius: 0px;
}

.applyBtn{
  background-color: #c1047c;
  color: #fff;
  &:hover{
  }
}

.daterangepicker .calendar th, .daterangepicker .calendar td {
  @include vendor-prefix(box-sizing, "border-box");
}

.daterangepicker_start_input, .daterangepicker_end_input{
  display: none;
}

.daterangepicker .ranges ul li{
  color: #c1047c;
  background-color: transparent;
  &.active, &:hover{
    background-color: #c1047c;
    color: #fff;
    border: 1px solid transparent;
  }
}

.daterangepicker{
  padding: 0px !important;
  .ranges{
    margin: 0px !important;
    li{
      margin-bottom: 0px !important;
      padding: 5px 12px !important;
      border-bottom: 1px solid #ccc;
    }
    .range_inputs{
      padding: 3px;
    }
  }
}

.daterangepicker .ranges {
  width: 222px;
  text-align: center;
}