@import "0-default";

.events-all{
	font-size: $ft-normal;
	line-height: 1.1em;
	margin-bottom: 50px;
	h3{
		padding: 10px;
		font-size: $ft-l;
		font-weight: normal;
		color: $cl-grey-dark;
	}
	.event-card{
		width: 25%;
		float: left;
		position: relative;
		&:nth-child(4n+1){
			clear: left;
		}
		.event-card-content{
			padding: 8px;
			position: relative;
			// @include vendor-prefix(transition-duration, ".3s");
			.event-card-content-inner{
				width: 100%;
				// @include vendor-prefix(transition-duration, ".3s");
			}
		}
		a{
			.event-head{
				color: $cl-white !important;
				text-decoration: none;
			}
			.event-description{
				color: black !important;
				text-decoration: none;
			}
			&:hover, &:active{
				.event-head{
					color: $cl-white !important;
					text-decoration: underline;
				}
				.event-description{
					color: black !important;
					text-decoration: underline;
				}
			}
			&:visited{
				.event-head{
					color: $cl-white !important;
				}
				.event-description{
					color: black !important;
				}
			}
		}
		.event-to-my-events{
			width: 24px; height: 24px;
			position: absolute;
			right: 18px; top: 80.547px;
			display: block;
			background: url('/assets/sprite-event.png') no-repeat -2px -2px;
			&:hover{
				background-position: -28px -2px;
			}
		}

		.event-in-map{
			width: 24px; height: 24px;
			position: absolute;
			right: 18px; top: 118.547px;
			display: block;
			background: url('/assets/sprite-event.png') no-repeat -80px -2px;
			&:hover{
				background-position: -54px -2px;
			}
		}
		.event-card-content-inner{
			.event-head{
				font-size: $ft-m;
				line-height: 1.33em;
				height: 2.66em;
				padding: 8px 100px 6px 6px;
				position: relative;
				font-weight: bold;
				margin-bottom: 6px;
				.event-date{
					position: absolute;
					right: 0; top: 0;
					width: 94px; height: 100%;
					.event-date-inner{
						position: absolute;
						@include trans-center;
					}
				}
			}
			img{
				float: left;
				@include vendor-prefix(box-sizing, "border-box");
				width: 50%; height: auto;
				padding-right: 8px;
			}
			.event-description{
				float: left;
				width: 50%;
				font-size: $ft-normal;
				margin-top: 10px;
				line-height: 1.4em;
				padding-right: 8px;
				@include vendor-prefix(box-sizing, "border-box");
				.float-helper{
					float: right;
					width: 36px; height: 80px;
				}
			}
		}
		&.event-orange{
			.event-head{
				background-color: $cl-orange;
				.event-date{
					background-color: $cl-orange-dark
				}
			}
		}
		&.event-blue{
			.event-head{
				background-color: $cl-blue;
				.event-date{
					background-color: $cl-blue-dark
				}
			}
		}
		&.event-green{
			.event-head{
				background-color: $cl-green;
				.event-date{
					background-color: $cl-green-dark
				}
			}
		}
		&.event-red{
			.event-head{
				background-color: $cl-red;
				.event-date{
					background-color: $cl-red-dark
				}
			}
		}
		&.event-yellow{
			.event-head{
				background-color: $cl-yellow;
				.event-date{
					background-color: $cl-yellow-dark
				}
			}
		}
	}
}

.event-from-my-events{
	width: 24px; height: 24px;
	position: absolute;
	right: 18px; top: 80.547px;
	display: block;
	background: url('/assets/sprite-event.png') no-repeat -28px -2px;
}

.denyEvent{
  font-size: 20px;
  color: red;
}


@media only screen and (max-width: 1640px) {

.events-all{
	.event-card{
		width: 33.33%;
		&:nth-child(4n+1){
			clear: none;
		}
		&:nth-child(3n+1){
			clear: left;
		}
	}
}

}

@media only screen and (max-width: 1366px) {

}

@media only screen and (max-width: 1280px) {

}

@media only screen and (max-width: 1124px) {

.events-all{
	.event-card{
		width: 50%;
		&:nth-child(3n+1){
			clear: none;
		}
		&:nth-child(2n+1){
			clear: left;
		}
	}
}

}

@media only screen and (max-width: 980px) {

}

@media only screen and (max-width: 820px) {

}

@media only screen and (max-width: 740px) { /* cover iPhone 640w */

}

@media only screen and (max-width: 620px) { /* cover iPhone 480*/

.events-all{
	padding: 0 12%;
	.event-card{
		width: 100%;
		clear: left;
	}
}

}

@media only screen and (max-width: 480px) {

.events-all{
	padding: 0 0;
	.event-head{
		font-size: $ft-normal !important;
	}
}

}

@media only screen and (max-width: 340px) {

}
