@import "0-default";

.event-detail-wrapper{
	text-align: left;
	position: relative;
    margin-top: 10px;
}

span.permanent {
  line-height: 45px;
  font-style: italic;
}

.banners-side-right{
	position: absolute;
	right: 10px;
	top: 20px;
	width: 240px; height: auto;
	img{
		width: 100%; height: auto;
	}
}

.event-detail-inner{
	padding: 0 10px;
	padding-right: 280px;
	max-width: 1000px;
	margin: 0;
	.event-head{
		padding-right: 220px;
		position: relative;
		margin-top: 15px;
		h1.event-h{
			font-size: $ft-big;
			font-weight: normal;
			min-height: 2.4em;
			line-height: 1.2;
			&.category-orange{
				color: $cl-orange;
			}
			&.category-blue{
				color: $cl-blue;
			}
			&.category-green{
				color: $cl-green;
			}
			&.category-red{
				color: $cl-red;
			}
			&.category-yellow{
				color: $cl-yellow;
			}
		}
		.event-from-my-events {
			right: 172px; top: 10px;
		}
		.event-to-my-events{
			width: 24px; height: 24px;
			background-color: red;
			position: absolute;
			right: 172px; top: 10px;
			display: block;
			background: url('/assets/sprite-event.png') no-repeat -2px -2px;
			&:hover{
				background-position: -28px -2px;
			}
		}
		.event-in-map{
			width: 24px; height: 24px;
			background-color: red;
			position: absolute;
			right: 172px; top: 46px;
			display: block;
			background: url('/assets/sprite-event.png') no-repeat -80px -2px;
			&:hover{
				background-position: -54px -2px;
			}
		}
		.event-date{
			width: 130px; height: 44px;
			padding: 8px 10px;
			color: $cl-white;
			position: absolute;
			right: 0px; top: 10px;
			border-radius: 5px;
			text-align: center;
			font-weight: bold;
			font-size: $ft-normal;
			line-height: $line-normal;
			&.category-orange{
				background-color: $cl-orange;
			}
			&.category-blue{
				background-color: $cl-blue;
			}
			&.category-green{
				background-color: $cl-green;
			}
			&.category-red{
				background-color: $cl-red;
			}
			&.category-yellow{
				background-color: $cl-yellow;
			}
		}
	}
	h2.event-h{
		font-size: $ft-l;
		font-weight: normal;
		padding: 10px 0;
	}
	.box-ratio-for-image{
		position: relative;
		&:before{
			content: "";
			display: block;
			padding-top: 75%;
		}
	}
	.slide-wrapper{
		width: 80%;
		float: left;
		@include vendor-prefix(box-sizing, "border-box");
		padding-right: 10px;
	}
	.event-detail-for{
		height: 100%;
		background-color: $cl-black;
		.slick-list{
			height: 100%;
			.slick-track{
				height: 100%;
			}
		}
		.event-image{
			width: 100%; height: 100%;
			background-size: contain;
			background-position: center center;
			background-repeat: no-repeat;
		}
	}
	.carousel-wrapper{
		width: 20%;
		float: left;
		position: relative;
		.event-detail-nav{
			img{
				@include vendor-prefix(box-sizing, "border-box");
				width: 100%;
				height: auto;
				margin-bottom: 10px;
				cursor: pointer;
			}
			.slick-slide{
				border: 0px solid transparent;
			}
		}
		.event-slide-next{
			cursor: pointer;
			position: absolute;
			top: 100%; left: 0%; right: 0%;
			background: url('/assets/sprite-arrows.png') no-repeat -2px -2px;
			width: 25px; height: 17px;
			margin-top: 10px;
			opacity: .7;
			&:hover{
				opacity: 1;
			}
		}
	}
	.event-description{
		padding-top: 30px;
		padding-bottom: 50px;
	}
}

@media only screen and (max-width: 1640px) {

}

@media only screen and (max-width: 1366px) {

}

@media only screen and (max-width: 1280px) {

.event-detail-inner{
	// .slide-wrapper{
	// 	width: 100%;
	// 	padding-right: 0px;
	// 	margin-bottom: 10px;
	// }
	// .carousel-wrapper{
	// 	width: 90%;
	// 	.event-detail-nav{
	// 		img{
	// 			padding-right: 10px;
	// 			padding-bottom: 0px;
	// 		}
	// 	}
	// 	.event-slide-next{
	// 		top: 0%; bottom: 0%; left: 100%; right: auto;
	// 		background: url('/assets/sprite-arrows.png') no-repeat -29px -2px;
	// 		width: 17px; height: 25px;
	// 		margin-top: auto;
	// 		margin-bottom: auto;
	// 		margin-left: 10px;
	// 	}
	// }
}

}

@media only screen and (max-width: 1024px) {

.banners-side-right{
	display: none;
}

.event-detail-inner{
	padding-right: 10px;
	// .slide-wrapper{
	// 	width: 80%;
	// 	padding-right: 10px;
	// 	margin-bottom: 0px;
	// }
	// .carousel-wrapper{
	// 	width: 20%;
	// 	.event-detail-nav{
	// 		img{
	// 			padding-right: 0px;
	// 			padding-bottom: 10px;
	// 		}
	// 	}
	// 	.event-slide-next{
	// 		top: 100%; bottom: auto; left: 0%; right: 0%;
	// 		background: url('/assets/sprite-arrows.png') no-repeat -2px -2px;
	// 		width: 25px; height: 17px;
	// 		margin-top: 10px;
	// 		margin-left: auto;
	// 	}
	// }
}

}

@media only screen and (max-width: 980px) {

}

@media only screen and (max-width: 820px) {

.event-detail-inner{
	.event-head{
		h1.event-h{
			font-size: $ft-xxl;
		}
	}
	.slide-wrapper{
		width: 100%;
		padding-right: 0px;
		margin-bottom: 10px;
	}
	.carousel-wrapper{
		width: 90%;
		.event-detail-nav{
			img{
				padding-right: 10px;
				padding-bottom: 0px;
			}
		}
		.event-slide-next{
			top: 0%; bottom: 0%; left: 100%; right: auto;
			background: url('/assets/sprite-arrows.png') no-repeat -29px -2px;
			width: 17px; height: 25px;
			margin-top: auto;
			margin-bottom: auto;
			margin-left: 10px;
		}
	}
}

}

@media only screen and (max-width: 740px) { /* cover iPhone 640w */

}

@media only screen and (max-width: 620px) { /* cover iPhone 480*/

.event-detail-inner{
	.event-head{
		padding-right: 10px;
		h1.event-h{
			font-size: $ft-xxl;
		}
		.event-info{
			position: relative;
			width: 100%; height: 80px;
		}
		.event-to-my-events{
			right: 218px; top: 28px;
		}
		.event-in-map{
			right: 172px; top: 28px;
		}
		.event-date{
			right: 0px; top: 10px;
		}
	}
}

}

@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 340px) {

}
