@import "0-default";

.events-bottom-all{
	font-size: $ft-normal;
	line-height: 1.1em;
	margin-bottom: 50px;
	h2.events-bottom-head{
		padding: 10px;
		font-size: $ft-xl;
		font-weight: normal;
		color: rgb(106, 120, 115);
	}
	.event-card{
		width: 20%;
		float: left;
		position: relative;
		&:nth-child(5n+1){
			clear: left;
		}
		.event-card-content{
			padding: 8px;
			position: relative;
			// @include vendor-prefix(transition-duration, ".3s");
			.event-card-content-inner{
				width: 100%;
				// @include vendor-prefix(transition-duration, ".3s");
			}
		}
		a{
			.event-head{
				color: $cl-white !important;
				text-decoration: none;
			}
			.event-description{
				color: black !important;
				text-decoration: none;
			}
			&:hover, &:active{
				.event-head{
					color: $cl-white !important;
					text-decoration: underline;
				}
				.event-description{
					color: black !important;
					text-decoration: underline;
				}
			}
			&:visited{
				.event-head{
					color: $cl-white !important;
				}
				.event-description{
					color: black !important;
				}
			}
		}
		.event-to-my-events-bottom{
			width: 24px; height: 24px;
			position: absolute;
			right: 18px; top: 80.547px;
			display: block;
			background: url('/assets/sprite-event.png') no-repeat -2px -2px;
			&:hover{
				background-position: -28px -2px;
			}
		}
		.event-in-map{
			width: 24px; height: 24px;
			position: absolute;
			right: 18px; top: 118.547px;
			display: block;
			background: url('/assets/sprite-event.png') no-repeat -80px -2px;
			&:hover{
				background-position: -54px -2px;
			}
		}
		.event-card-content-inner{
			.event-head{
				font-size: $ft-m;
				line-height: 1.33em;
				height: 3.99em;
				padding: 8px 100px 6px 6px;
				position: relative;
				font-weight: bold;
				margin-bottom: 6px;
				background-color: $cl-pink;
				.event-date{
					position: absolute;
					right: 0; top: 0;
					width: 94px; height: 100%;
					background-color: darken($cl-pink, 5%);
					.event-date-inner{
						position: absolute;
						@include trans-center;
					}
				}
			}
			img{
				float: left;
				@include vendor-prefix(box-sizing, "border-box");
				width: 100%; height: auto;
			}
		}
	}
}


@media only screen and (max-width: 1640px) {

}

@media only screen and (max-width: 1366px) {
	.events-bottom-all{
		.event-card{
			width: 25%;
			&:nth-child(5n+1){
				clear: none;
			}
			&:nth-child(4n+1){
				clear: left;
			}
		}
	}
}

@media only screen and (max-width: 1280px) {


}

@media only screen and (max-width: 1124px) {

}

@media only screen and (max-width: 980px) {

.events-bottom-all{
	.event-card{
		width: 33.33%;
		&:nth-child(4n+1){
			clear: none;
		}
		&:nth-child(3n+1){
			clear: left;
		}
	}
}

}

@media only screen and (max-width: 820px) {

}

@media only screen and (max-width: 740px) { /* cover iPhone 640w */ 

.events-bottom-all{
	.event-card{
		width: 50%;
		&:nth-child(3n+1){
			clear: none;
		}
		&:nth-child(2n+1){
			clear: left;
		}
	}
}

}

@media only screen and (max-width: 620px) { /* cover iPhone 480*/ 


}

@media only screen and (max-width: 480px) {

.events-bottom-all{
	padding: 0 0;
	.event-card{
		width: 100%;
		clear: left;
	}
	.event-head{
		font-size: $ft-m !important;
	}
}

}

@media only screen and (max-width: 340px) {

}