@import "0-default";
.favourite-events-all{
	font-size: $ft-normal;
	line-height: 1.1em;
	margin-bottom: 50px;
	h3{
		padding: 10px;
		font-size: $ft-l;
		font-weight: normal;
		color: $cl-grey-dark;
	}
	.event-card{
		width: 25%;
		float: left;
		position: relative;
		&:nth-child(4n+1){
			clear: left;
		}
		.event-card-content{
			padding: 13px;
			position: relative;
			// @include vendor-prefix(transition-duration, ".3s");
			.event-card-content-inner{
				width: 100%;
				// @include vendor-prefix(transition-duration, ".3s");
			}
		}
		a{
			.event-head{
				color: $cl-white !important;
				text-decoration: none;
			}
			.event-description{
				color: $cl-white !important;
				text-decoration: none;
			}
			&:hover, &:active{
				.event-head{
					color: $cl-white !important;
					text-decoration: underline;
				}
				.event-description{
					color: $cl-white !important;
					text-decoration: underline;
				}
			}
			&:visited{
				.event-head{
					color: $cl-white !important;
				}
				.event-description{
					color: $cl-white !important;
				}
			}
		}
		.event-to-my-events{
			width: 14px; height: 14px;
			position: absolute;
			right: 18px; top: 18px;
			display: block;
			background: url('/assets/sprite-selection.png') no-repeat -44px -2px;
			&:hover{
				background-position: -60px -2px;
			}
		}
		.event-in-map{
			width: 24px; height: 24px;
			position: absolute;
			right: 18px; top: 118.547px;
			display: block;
			background: url('/assets/sprite-event.png') no-repeat -80px -2px;
			&:hover{
				background-position: -54px -2px;
			}
		}
		.event-card-content-inner{
			background-color: $cl-pink;
			@include vendor-prefix(box-shadow, "0 10px 6px -6px #777777");
			.event-head{
				font-size: $ft-s;
				line-height: 1.33em;
				height: 2.66em;
				padding: 8px 100px 4px 6px;
				position: relative;
				font-weight: normal;
				background-color: #e255b0;
				.event-date{
					position: absolute;
					right: 0; top: 0;
					width: 94px; height: 100%;
					.event-date-inner{
						position: absolute;
						bottom: 1px;
						@include transX-center;
					}
				}
			}
			img{
				float: left;
				@include vendor-prefix(box-sizing, "border-box");
				width: 50%; height: auto;
				padding: 8px 8px 12px 8px;
			}
			.event-description{
				float: left;
				width: 50%;
				font-size: $ft-xs;
				margin-top: 10px;
				line-height: 1.4em;
				padding-right: 8px;
				@include vendor-prefix(box-sizing, "border-box");
				.float-helper{
					float: right;
					width: 36px; height: 80px;
				}
			}
		}
	}
	.event-card.event-past{
		a{
			.event-head{
				color: $cl-pink !important;
			}
			.event-description{
				color: $cl-pink !important;
			}
			&:hover, &:active{
				.event-head{
					color: $cl-pink !important;
				}
				.event-description{
					color: $cl-pink !important;
				}
			}
			&:visited{
				.event-head{
					color: $cl-pink !important;
				}
				.event-description{
					color: $cl-pink !important;
				}
			}
		}
		.event-card-content-inner{
			background-color: #f8f8f8;
			.event-head{
				background-color: #f1f1f1;
			}
		}
	}
}


@media only screen and (max-width: 1640px) {

}

@media only screen and (max-width: 1366px) {

}

@media only screen and (max-width: 1280px) {

}

@media only screen and (max-width: 1124px) {

.favourite-events-all{
	.event-card{
		width: 33.33%;
		&:nth-child(4n+1){
			clear: none;
		}
		&:nth-child(3n+1){
			clear: left;
		}
	}
}

}

@media only screen and (max-width: 980px) {

}

@media only screen and (max-width: 820px) {

.favourite-events-all{
	.event-card{
		width: 50%;
		&:nth-child(3n+1){
			clear: none;
		}
		&:nth-child(2n+1){
			clear: left;
		}
	}
}

}

@media only screen and (max-width: 740px) { /* cover iPhone 640w */ 

}

@media only screen and (max-width: 620px) { /* cover iPhone 480*/ 

.favourite-events-all{
	padding: 0 12%;
	.event-card{
		width: 100%;
		clear: left;
	}
}

}

@media only screen and (max-width: 480px) {

.favourite-events-all{
	padding: 0 0;
	.event-head{
		font-size: $ft-normal !important;
	}
}

}

@media only screen and (max-width: 340px) {

}