@import "0-default";

#flash_wrapper{
	position: absolute;
	padding: 0 10px;
	left: 50%;
	bottom: 5px;
	max-width: 756px;
	min-width: 40%;
	@include vendor-prefix(transform, translateX(-50%));
	@include vendor-prefix(box-sizing, "border-box");
}

.flash{
	max-width: 756px;
	position: relative;
	width: 100%;
	border: 1px solid #faebcc;
	color: #8a6d3b;
	background-color: #fcf8e3;
	padding: 15px 35px 15px 15px;
	border-radius: 5px;
	line-height: $line-normal;
	@include vendor-prefix(box-sizing, "border-box");
	.wrapper{}
	.close{
		cursor: pointer;
		opacity: .4;
		position: absolute;
		right: 10px; top: 15px;
		&:hover{
			opacity: 1;
		}
	}
}

.flash_notice{}
.flash_error{
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}
.flash_success{
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}
.flash_info{
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

@media only screen and (max-width: 1640px) {

}

@media only screen and (max-width: 1366px) {

}

@media only screen and (max-width: 1280px) {

}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 980px) {

}

@media only screen and (max-width: 820px) {

}

@media only screen and (max-width: 740px) { /* cover iPhone 640w */ 

}

@media only screen and (max-width: 620px) { /* cover iPhone 480*/ 

#flash_wrapper{
	position: relative;
	left: 0px;
	bottom: 0px;
	min-width: 40%;
	@include vendor-prefix(transform, translateX(0%));
}

}

@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 340px) {

}