@import "0-default";

footer{
	background-color: $cl-pink;
	text-align: center;
	color: $cl-white;
	padding: 15px 130px;
	a{
	  color: $cl-white;
	  text-decoration: none;
	  &:hover, &:active{
	    color: $cl-white;
	    text-decoration: underline;
	  }
	  &:visited{
	    color: $cl-white;
	  }
	}
}


@media only screen and (max-width: 1640px) {

footer{
	padding: 15px 100px;
}

}

@media only screen and (max-width: 1366px) {

footer{
	padding: 15px 70px;
}

}

@media only screen and (max-width: 980px) {

footer{
	padding: 15px 15px;
}

}


@media only screen and (max-width: 740px) {

footer{
	padding: 15px 0;
}

}