@import "0-default";

.field {
  position: relative;
}

.form-wrapper{
	width: 100%; max-width: 690px;
	padding-bottom: 50px;
}

h1.form-head{
	font-size: $ft-xxl;
	font-weight: normal;
	line-height: 1em;
	color: $cl-grey-dark;
	margin: 10px;
	padding-top: 25px;
	&.form-head-padding{
		padding-bottom: 20px;
	}
}
h2.form-head{
	font-size: $ft-l;
	font-weight: normal;
	line-height: 1em;
	color: $cl-grey-dark;
	margin-right: 25px;
	padding-top: 25px;
	&.form-head-border{
		border-bottom: 1px solid #ddd;
		line-height: $line-normal;
	}
}
h3.form-head{
	font-size: $ft-m;
	font-weight: normal;
	line-height: 1em;
	color: $cl-grey-dark;
	padding: 10px 15px;
	width: 100%;
	border-bottom: 1px solid #ddd;
	background-color: #f5f5f5;
	margin-left: -15px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.form-table{
	margin-top: 20px;
	border-radius: 5px;
	@include vendor-prefix(box-shadow, "0 1px 1px rgba(0,0,0,.05)");
	border: 1px solid #ddd;
	padding: 0 15px 25px 15px;
}

.errorExplanation{
	margin-top: 15px;
}

.form-default{
	text-align: left;
	margin: 10px;
	.small-help{
		display: block;
		margin: 5px auto 15px auto;
		font-size: $ft-xs;
	}
	label{
		font-weight: bold;
		color: $cl-pink;
		display: block;
		margin: 15px auto 5px auto;
		&.required:after{
	    display: inline-block;
	    content: "*";
	    padding-left: 5px;
	  }
	}
	.fieldWithErrors{
		input[type="text"], input[type="password"], input[type="tel"], textarea{
			color: $cl-grey-dark;
		}
	}
	.field.input-margin{
		margin-bottom: 20px;
	}
	input[type="text"], input[type="password"], input[type="tel"], select, textarea{
		@include vendor-prefix(box-sizing, "border-box");
		border-radius: 5px;
		@include vendor-prefix(box-shadow, "inset 0 1px 1px rgba(0,0,0,.075)");
		padding: 6px 12px;
		font-size: $ft-normal;
		border: 1px solid #ccc;
		color: $cl-grey-dark;
	}
	input[type="text"], input[type="password"], input[type="tel"], select{
		height: 34px;
	}
	select{
		color: $cl-white;
		cursor: pointer;
		border-width: 0;
		background: #e255b0;
		background: -moz-linear-gradient(top, #e255b0 0%, #c1047c 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e255b0), color-stop(100%, #c1047c));
		background: -webkit-linear-gradient(top, #e255b0 0%, #c1047c 100%);
		background: -o-linear-gradient(top, #e255b0 0%, #c1047c 100%);
		background: -ms-linear-gradient(top, #e255b0 0%, #c1047c 100%);
		background: linear-gradient(to bottom, #e255b0 0%, #c1047c 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@magenta-light', endColorstr='#d61190', GradientType=0);
		&:hover{
			background: -moz-linear-gradient(top, #c1047c 17%, #e255b0 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(17%, #c1047c), color-stop(100%, #e255b0));
			background: -webkit-linear-gradient(top, #c1047c 17%, #e255b0 100%);
			background: -o-linear-gradient(top, #c1047c 17%, #e255b0 100%);
			background: -ms-linear-gradient(top, #c1047c 17%, #e255b0 100%);
			background: linear-gradient(to bottom, #c1047c 17%, #e255b0 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b10c76', endColorstr='@magenta-light', GradientType=0);
		}
		option{
			color: $cl-black !important;
		}
	}
	label, input[type="text"], input[type="password"], input[type="tel"], select, textarea, input[type="file"]{
		width: 100%;
	}
	textarea{
		max-width: 100%;
	}
	.remember_me, .agree_with_conditions{
		label{
			display: inline-block;
			width: auto;
			margin-top: 5px;
			margin-bottom: 15px;
		}
		input[type="checkbox"]{
			margin: 19px 10px 5px 10px;
			position: relative;
			top: -1px;
		}
		a{
			color: $cl-blue-link;
			&:hover, &:active{
				color: $cl-blue-link-hover;
				text-decoration: underline;
			}
		}
	}
	input[type="file"]{
		margin-top: 5px;
	}
	.form-actions{
		display: inline-block;
	}
	input[type="submit"]{
		background-color: #6e6e6e;
		border-color: #6e6e6e;
		color: $cl-white;
		cursor: pointer;
		padding: 6px 12px;
		border-radius: 5px;
		height: 34px;
		@include vendor-prefix(box-sizing, "border-box");
		font-size: $ft-normal;
		@include vendor-prefix(box-shadow, "0 0px 0px rgba(0,0,0,0)");
		border: 1px solid transparent;
		display: inline-block;
		margin-right: 10px;
		&:hover{
			background-color: #ffffff;
			color: $cl-grey-dark;
			border: 1px solid #6e6e6e;
		}
		&:active{
			@include vendor-prefix(box-shadow, "inset 0 3px 5px rgba(0,0,0,.125)");
		}
	}
	.forgot_password, #cancel_button{
		display: inline-block;
		width: auto;
		@include vendor-prefix(box-sizing, "border-box");
		font-size: $ft-normal;
		height: 34px;
		vertical-align: middle;
		padding: 6px 0;
		a{
			position: relative;
			vertical-align: middle;
			top: 1px;
			&:hover, &:active{
				text-decoration: underline;
			}
		}
	}
	.facebook-login-button{
		display: block;
  	float: right;
  	span{
		  width: 200px;
		  height: 33px;
		  display: inline-block;
		  background: url('/assets/fb-login-button.png') no-repeat 0 0;
		  background-size: 200px;
	  }
	}
	#cancel_button{
		position: relative;
		vertical-align: middle;
		top: 2px;
		&:hover, &:active{
			text-decoration: underline;
		}
	}
	.form-select-user-company{
		h2{
			float: left;
		}
		.form-select-user-company-inner{
			float: left;
		}
		input[type=radio]{
			display: none;
		}
		label{
			cursor: pointer;
			padding: 9px 12px;
			color: $cl-grey-dark;
			font-weight: normal;
			display: inline-block;
			float: left;
			width: auto;
			text-align: center;
			border: 1px solid #ccc;
			background-color: $cl-white;
			&[for="user_account_type_users"]{
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
			}
			&[for="user_account_type_companies"]{
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
			}
			&:hover, &.hover{
				background-color: #e6e6e6;
				border-color: #adadad;
			}
			&:active{
				background-color: #e6e6e6;
				border-color: #adadad;
				@include vendor-prefix(box-shadow, "inset 0 3px 5px rgba(0,0,0,.125)");
			}
		}
		input[type=radio]:checked + label{
			color: $cl-white;
			background-color: #6e6e6e;
			border-color: #6e6e6e;
			cursor: auto;
			&:active{
				@include vendor-prefix(box-shadow, "inset 0 0px 0px rgba(0,0,0,0)");
			}
		}
	}
}

.delete-image-wrapper{
	position: relative;
	float: left;
	padding-right: 29px;
	input[type=checkbox]{
		display: none;
	}
	input[type=checkbox] + label{
		margin: 0;
		position: absolute;
		right: 5px; top: 5px;
		background: url('/assets/sprite-delete.png') no-repeat -23px -2px;
		width: 19px;
		height: 23px;
		cursor: pointer;
		opacity: .7;
		&:hover{
			opacity: 1;
		}
	}
	input[type=checkbox]:checked + label{
		background: url('/assets/sprite-delete.png') no-repeat -2px -2px;
		width: 19px;
		height: 23px;
		opacity: 1;
		&:hover{
			opacity: .7;
		}
	}
}

.user-menu{
	padding: 20px 10px 0 10px;
    float: right;
	.user-menu-item{
		cursor: pointer;
		color: $cl-grey-dark;
		font-weight: normal;
		display: inline-block;
		float: left;
		width: auto;
		text-align: center;
		border: 1px solid #ccc;
		background-color: $cl-white;
		a{
			color: $cl-grey-dark;
			padding: 9px 12px;
			display: block;
			&:hover, &:active{
				color: $cl-grey-dark !important;
			}
		}
		&.user-menu-item-left{
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
		}
		&.user-menu-item-right{
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
		}
		&:hover, &.hover{
			background-color: #e6e6e6;
			border-color: #adadad;
		}
		&:active{
			background-color: #e6e6e6;
			border-color: #adadad;
			@include vendor-prefix(box-shadow, "inset 0 3px 5px rgba(0,0,0,.125)");
		}
		&.selected-item{
			color: $cl-white;
			background-color: #6e6e6e;
			border-color: #6e6e6e;
			cursor: auto;
			&:active{
				@include vendor-prefix(box-shadow, "inset 0 0px 0px rgba(0,0,0,0)");
			}
			a{
				color: $cl-white;
				&:hover, &:active{
					color: $cl-white !important;
				}
			}
		}
	}
	input[type=radio]:checked + label{
		color: $cl-white;
		background-color: #6e6e6e;
		border-color: #6e6e6e;
		cursor: auto;
		&:active{
			@include vendor-prefix(box-shadow, "inset 0 0px 0px rgba(0,0,0,0)");
		}
	}
}

.form-default.form-search{
	padding: 19px 10px 0 10px;
	float: left;
	margin: 0 auto;
	width: 100%;
	max-width: 630px;
	input[type="text"], select{
		max-width: 260px;
		float: left;
		margin-right: 4px;
		margin-bottom: 10px;
	}
	select{
		background: #e151ae;
		background: -moz-linear-gradient(top, #e151ae 17%, #b10c76 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(17%, #e151ae), color-stop(100%, #b10c76));
		background: -webkit-linear-gradient(top, #e151ae 17%, #b10c76 100%);
		background: -o-linear-gradient(top, #e151ae 17%, #b10c76 100%);
		background: -ms-linear-gradient(top, #e151ae 17%, #b10c76 100%);
		background: linear-gradient(to bottom, #e151ae 17%, #b10c76 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e151ae', endColorstr='#b10c76', GradientType=0);
		&:hover{
			background: #b10c76;
			background: -moz-linear-gradient(top, #b10c76 17%, #e151ae 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(17%, #b10c76), color-stop(100%, #e151ae));
			background: -webkit-linear-gradient(top, #b10c76 17%, #e151ae 100%);
			background: -o-linear-gradient(top, #b10c76 17%, #e151ae 100%);
			background: -ms-linear-gradient(top, #b10c76 17%, #e151ae 100%);
			background: linear-gradient(to bottom, #b10c76 17%, #e151ae 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b10c76', endColorstr='#e151ae', GradientType=0);
		}
	}
	input[type="submit"]{
		float: left;
		margin-bottom: 10px;
	}
}

@media only screen and (max-width: 1640px) {

}

@media only screen and (max-width: 1366px) {

}

@media only screen and (max-width: 1280px) {

}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 980px) {

}

@media only screen and (max-width: 820px) {

}

@media only screen and (max-width: 740px) { /* cover iPhone 640w */ 

}

@media only screen and (max-width: 620px) { /* cover iPhone 480*/ 

}

@media only screen and (max-width: 480px) {

.facebook-login-button{
	padding-left: 20px;
	padding-top: 10px;
}

}

@media only screen and (max-width: 340px) {

}