@import "0-default";

$sprite-menu: url("/assets/sprite-menu.png");

header{
	padding: 10px 130px;
	position: relative;
	.logo-main{
		margin-left: 30px;
		width: 246px; height: auto;
		float: left;
	}
	.menu{
		z-index: 999;
		float: right;
		background-color: $cl-white;
		border: 1px solid #f5f5f5;
		border-radius: 5px;
		ul{
			li{
				float: left;
				border-right: 1px solid #f5f5f5;
				&.last{
					border: 0px solid transparent;
				}
                &.selected a {
                  text-decoration: underline;
                }
				a.link_4{
					padding-right: 40px;
					&:after{
						width: 20px; height: 17px;
						right: 10px; top: 9.5px;
						background: $sprite-menu -46px -2px;
					}
				}
				a.link_6{
					padding-right: 38px;
					&:after{
						width: 18px; height: 16px;
						right: 10px; top: 9.5px;
						background: $sprite-menu -67px -2px;
					}
				}
				a.link_7{
					padding-right: 37px;
					&:after{
						width: 17px; height: 17px;
						right: 10px; top: 9.5px;
						background: $sprite-menu -87px -2px;
					}
				}
				a.link_10{
					padding-right: 37px;
					&:after{
						width: 17px; height: 17px;
						right: 10px; top: 9.5px;
						background: $sprite-menu -106px -2px;
					}
				}
				a.link_12{
					padding-right: 42px;
					&:after{
						width: 22px; height: 17px;
						right: 10px; top: 9.5px;
						background: $sprite-menu -125px -2px;
					}
				}
				a.link_11{
					padding-right: 38px;
					&:after{
						width: 18px; height: 17px;
						right: 10px; top: 9.5px;
						background: $sprite-menu -149px -2px;
					}
				}
				a.link_13{
					padding-right: 36px;
					&:after{
						width: 16px; height: 17px;
						right: 10px; top: 9.5px;
						background: $sprite-menu -169px -2px;
					}
				}
			}
		}
		a{
			display: block;
			color: $cl-pink;
			text-decoration: none;
			padding: 11px 10px;
			position: relative;
			&:after{
				content: "";
				display: block;
				position: absolute;
			}
			&:hover, &:active{
				color: $cl-pink !important;
				text-decoration: underline;
				background: #fafafa;
			}
			&:visited{
			 	color: $cl-pink;
			}
		}
	}
}

.without_background header{
	padding: 0;
	.logo-main{
		position: absolute;
		left: 130px; top: 10px;
		margin-left: 0px;
		width: 150px;
	}
	.menu{
		position: absolute;
		right: 130px; top: 10px;
	}

}

@media only screen and (max-width: 1640px) {

.without_background header{
	.logo-main{
		left: 100px;
	}
	.menu{
		right: 100px;
	}
}

header{
	padding: 10px 100px;
}

}

@media only screen and (max-width: 1366px) {

.without_background header{
	padding: 0;
	.logo-main{
		left: 70px;
	}
	.menu{
		right: 70px;
	}
}

header{
	padding: 10px 70px;
}

}

@media only screen and (max-width: 1024px) {

header{
	.logo-main{
		margin-left: 0px;
		width: 200px;
	}
}

}

@media only screen and (max-width: 980px) {


.without_background header{
	padding: 0;
	.logo-main{
		left: 15px;
	}
	.menu{
		right: 15px;
	}
}


header{
	padding: 10px 15px;
	.logo-main{
		margin-left: 30px;
		width: 150px;
	}
}

}

@media only screen and (max-width: 820px) {

.without_background header{
	.menu{
		top: 20px;
	}
}

header{
	.logo-main{
		margin-left: 70px;
	}
	.menu{
		font-size: $ft-m;
		position: absolute;
		right: 15px; top: 20px;
		overflow: hidden;
		height: 40px;
		&.clicked{
			height: auto;
		}
		ul{
			&:before{
				content: "Menu";
				font-size: $ft-m;
				background: $sprite-menu -2px -2px;
				background-repeat: no-repeat;
				background-position: 118px;
				color: $cl-pink;
				padding: 13px 10px;
				width: 98px;
				float: left;
				padding-right: 42px;
				border-bottom: 1px solid #f5f5f5;
				cursor: pointer;
				&.clicked{
					background-color: $cl-pink;
					color: $cl-white;
					background: $sprite-menu -2px -2px;
				}
			}
			li{
				clear: left;
				float: left;
				border-right: 0px solid transparent;
				border-bottom: 1px solid #f5f5f5;
				a.link_4{
					width: 100px;
				}
				a.link_6{
					width: 102px;
				}
				a.link_7{
					width: 103px;
				}
				a.link_10{
					width: 103px;
				}
				a.link_12{
					width: 98px;
				}
				a.link_11{
					width: 102px;
				}
				a.link_13{
					width: 104px;
				}
			}
		}
		a{
			font-size: $ft-m;
			padding: 13px 10px;
		}
	}
}

}

@media only screen and (max-width: 740px) { /* cover iPhone 640w */ 

}

@media only screen and (max-width: 620px) { /* cover iPhone 480*/ 

.without_background header{
	.logo-main{
		width: 120px;
	}
}

header{
	.logo-main{
		margin-left: 30px;
		width: 120px;
	}
}

}

@media only screen and (max-width: 480px) {

.without_background header{
	.logo-main{
		width: 100px;
	}
}

header{
	.logo-main{
		margin-left: 10px;
		width: 100px;
	}
}

}

