@import "0-default";

#map{
	width: 100%;
	height: 490px;
  .gm-style-iw{
    div{
      overflow: visible !important;
      div{
        overflow: visible !important;
      }
    }
  }
  div:nth-child(2)>div:nth-child(9)>div:nth-child(2) {
    float: left;
    left: 23px;
  }
  .gm-style{
    .gmnoprint{
      &:nth-child(10), &:nth-child(9), &:nth-child(2){
        right: 23px !important;
      }
    }
  }
}