@import "0-default";

.modal-open {
  overflow: hidden;
  padding-right: 15px !important;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  // -webkit-transition: -webkit-transform .3s ease-out;
  //      -o-transition:      -o-transform .3s ease-out;
  //         transition:         transform .3s ease-out;
  // @include vendor-prefix(transform, "translate(0, -25%)");

}
.modal.in .modal-dialog {
  // @include vendor-prefix(transform, "translate(0, 0)");
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  padding-right: 0px;
  margin: 50px 130px;
}
.modal-content {
  position: relative;
  @include vendor-prefix(background-clip, "padding-box");
  border: 2px solid $cl-pink;
  outline: 0;
  @include vendor-prefix(box-shadow, "0 3px 9px rgba(0, 0, 0, .5)");
  border-radius: 10px;
  background-color: #ffffff;
  margin: 0 auto;
  // max-width: 1200px;
  .close{
    color: $cl-grey;
    position: absolute;
    right: 14px; top: 8px;
    font-size: 1.2rem;
    line-height: 1em;
    cursor: pointer;
    &:hover{
      color: $cl-pink;
    }
  }
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal-body {
  position: relative;
  padding: 15px 0 5px 0;
  min-height: 500px;
}

.my-selection-content{
  position: relative;
  top: -10px;
  overflow-x: hidden;
  max-height: 550px;
}

.my-selection-head{
  padding: 0 15px 0 0;
  position: relative;
  top: -15px;
  width: 100%;
  //border-bottom: 1px solid #ccc;
  @include vendor-prefix(box-sizing, "border-box");
  font-weight: normal;
  a{
    color: $cl-grey;
    text-decoration: none;
    &:hover, &:active{
      color: $cl-pink !important;
      text-decoration: none;
      background-color: rgba(0,0,0, .05);
    }
    &:visited{
      color: $cl-grey;
    }
    &.selected{
      color: $cl-pink;
      background-color: rgba($cl-pink, .05);
      &:visited{
        color: $cl-pink;
        background-color: rgba($cl-pink, .05);
      }
    }
  }
  .my-selection-button{
    display: block;
    float: left;
    font-size: $ft-l;
    line-height: 1.1em;
  }
  .my-selection-future{
    border-right: 1px solid #ccc;
    padding: 10px 15px;
  }
  .my-selection-past{
    border-right: 1px solid #ccc;
    padding: 10px 15px 10px 45px;
    position: relative;
    &:before{
      content: "";
      background: url('/assets/sprite-selection.png') no-repeat -23px -2px;
      width: 19px; height: 23px;
      position: absolute;
      left: 15px; top: 8px;
    }
    &:hover:before, &.selected:before{
      background-position: -2px -2px;
    }
  }
}

.my-selection-future-content{

}
.my-selection-past-content{

}
.my-selection-nouser{
  position: absolute;
  top: 40px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, .6);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  .my-selection-register{
    width: 94%;
    padding: 20px 40px 40px 40px;
    max-width: 500px;
    position: absolute;
    @include vendor-prefix(box-sizing, "border-box");
    @include trans-center;
    border-radius: 5px;
    border: 1px solid $cl-grey-dark;
    background-color: $cl-pink;
    .caption{
      text-align: center;
      color: $cl-white;
      font-size: 1.35rem;
      line-height: $line-normal;
      padding-bottom: 30px;
    }
    .my-selection-register-button-wrapper{
      width: 100%;
      max-width: 210px;
    }
    .my-selection-register-button{
      display: block;
      padding: 12px 6px;
      background-color: #6e6e6e;
      border-radius: 4px;
      color: $cl-white;
      border: 1px solid transparent;
      font-size: $ft-normal;
      &:hover, &:active{
        color: #000 !important;
        background-color: #fff;
        border: 1px solid #6e6e6e;
      }
      &:visited{
        color: $cl-white;
      }
    }
    .login-button{
      float: left;
    }
    .register-button{
      float: right;
    }
  }
}

.delete-selected-items{
  display: block;
  float: left;
  margin: 8px 15px;
  .dustbin{
    background: url('/assets/sprite-delete.png') no-repeat -23px -2px;
    width: 19px; height: 23px;
  }
  &:hover{
    .dustbin{
      background-position: -2px -2px;
    }
  }
}

@media only screen and (max-width: 1640px) {

.modal-dialog {
  margin: 50px 100px;
}

}

@media only screen and (max-width: 1366px) {

.modal-dialog {
  margin: 50px 70px;
}

}

@media only screen and (max-width: 980px) {

.modal-dialog {
  margin: 50px 15px;
}

}


@media only screen and (max-width: 740px) {

.modal-open{
  padding-right: 0px !important;
}
.modal{
  padding-right: 0px !important;
}
.modal-dialog{
  padding-right: 0px;
}
.modal-content{
  border-radius: 5px;
}

}

@media only screen and (max-width: 740px) { /* cover iPhone 640w */ 

.modal-dialog {
  margin: 50px 8px;
}

}

@media only screen and (max-width: 620px) { /* cover iPhone 480*/ 

.my-selection-nouser{
  .my-selection-register{
    .caption{
      font-size: $ft-l;
    }
  }
}

}

@media only screen and (max-width: 480px) {

.modal-dialog {
  margin: 50px 5px;
}

.my-selection-nouser{
  .my-selection-register{
    padding: 20px 30px 30px 30px;
    .caption{
      padding-bottom: 20px;
    }
  }
}

}

@media only screen and (max-width: 340px) {

}