@import "0-default";

.cat-card-head a,
.cat-card-head a:hover,
.cat-card-head a:visited,
.cat-card-head a:active {
  color: black !important;
}

.org-cat-width{
	width: 100%;
	padding: 24px 130px;
	margin-left: -130px;
}
.org-cat-pink{
	background-color: $cl-pink;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}
.icon-register{
	width: 26px; height: 27px;
	background-image: url("/assets/icon-register.png");
	float: left;
}
.org-cat-green{
	background-color: $cl-white;
	line-height: 1.1;
	.org-cat-green-inner{
		background-color: #5cb85c;
		border: 1px solid #5b883c;
		margin: 10px;
		@include vendor-prefix(box-sizing, "border-box");
		@include vendor-prefix(text-shadow, "rgba(0, 0, 0, 0.2) 1px 1px 0px");
		padding: 25px 25px 15px 25px;
		h3{
			font-size: $ft-xl;
			font-weight: normal;
			padding-bottom: 10px;
		}
		p{
			font-size: $ft-normal;
		}
		.icon-register{
			height: 40px;
			background-repeat: no-repeat;
			margin-top: 13px;
			margin-right: 20px;
		}
	}
	a{
		color: $cl-white;
		text-decoration: none;
		&:hover, &:active{
			color: $cl-white !important;
			text-decoration: underline;
		}
		&:visited{
			color: $cl-white;
		}
	}
}

a .org-cat-green-small{
	color: $cl-white;
	text-decoration: none;
	&:hover, &:active{
		color: $cl-white !important;
	}
	&:visited{
		color: $cl-white;
	}
}

.org-cat-green-small{
	@include vendor-prefix(box-sizing, "border-box");
	padding: 13px 15px;
	border-radius: 4px;
	background-color: #5cb85c;
	max-width: 450px;
	width: 100%;
	float: right;
	.icon-register{
		position: relative;
		top: 8px;
		margin-right: 10px;
	}
	&:hover{
		background-color: #449d44;
	}
}

@media only screen and (max-width: 1640px) {

.org-cat-width{
	padding: 24px 100px;
	margin-left: -100px;
}

}

@media only screen and (max-width: 1366px) {

.org-cat-width{
	padding: 24px 70px;
	margin-left: -70px;
}

}

@media only screen and (max-width: 1280px) {

}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 980px) {

.org-cat-width{
	padding: 24px 15px;
	margin-left: -15px;
}

}

@media only screen and (max-width: 820px) {

}

@media only screen and (max-width: 740px) { /* cover iPhone 640w */ 

.org-cat-width{
	padding: 24px 0px;
	margin-left: -0px;
}

}

@media only screen and (max-width: 620px) { /* cover iPhone 480*/ 

}

@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 340px) {

}