@import "0-default";

.org-head{
	font-weight: normal;
	font-size: $ft-xl;
	color: $cl-grey-dark;
	padding: 10px;
	margin-bottom: 20px;
}

.org-all{
	font-size: $ft-normal;
	line-height: 1.1em;
	margin-bottom: 50px;
	h3{
		padding: 10px;
		font-size: $ft-l;
		font-weight: normal;
		color: $cl-grey-dark;
	}
	.cat-card{
		width: 20%;
		float: left;
		position: relative;
		margin-bottom: 40px;
		.cat-card-head{
			line-height: 19px;
		    padding-top: 16px;
		    padding-bottom: 16px;
		    padding-left: 75px;
			padding-right: 15px;
			position: relative;
			font-weight: bold;
			font-size: $ft-normal;
			cursor: pointer;
			&:before{
				content: "";
				width: 48px; height: 48px;
				background-image: url("/assets/cat-icon-pink.png");
				background-size: 100% 100%;
				position: absolute;
				left: 15px; top: 1.5px;
			}
			.closeCat{
			    color: gray;
			    position: absolute;
			    right: 30px;
			    top: 12px;
			    font-size: 1.4rem;
			    line-height: 1em;
			    cursor: pointer;
			}
			&.clicked{
				background-color: #f2f2f2;
			}
		}
		.child{
			background-color: white;
			position: absolute;
			width: 530px;
			top: 100%;
			left: 50%;
			@include vendor-prefix(transform, "translateX(-50%)");
			border: 2px solid $cl-pink;
			border-radius: 5px;
			z-index: 224;
			@include vendor-prefix(box-sizing, "border-box");
			&:before{
				content: "";
				position: absolute;
				top: -13px;
				left: 50%;
				@include vendor-prefix(transform, "translateX(-50%)");
				width: 35px; height: 13px;
				background-image: url("/assets/select-pointer.png");
			}
			li{
				float: left;
				width: 33.33%;
				&:nth-child(3n+1){
					clear: left;
				}
				a{
					display: block;
					padding: 9px 12px;
					background-color: white;
					color: $cl-pink;
					&:hover{
						color: $cl-white !important;
						background-color: $cl-pink;
					}
				}
			}
		}
		&:nth-child(5n+1){
			clear: left;
			.child{
				right: auto;
				left: 40px;
				@include vendor-prefix(transform, "translateX(0%)");
				&:before{
					right: auto;
					left: 20px;
					@include vendor-prefix(transform, "translateX(0%)");
				}
			}
		}
		&:nth-child(5n+5){
			.child{
				left: auto;
				right: 20%;
				@include vendor-prefix(transform, "translateX(0%)");
				&:before{
					left: auto;
					right: 20px;
					@include vendor-prefix(transform, "translateX(0%)");
				}
			}
		}
	}
	.cat-card-orange .cat-card-head:before{
		background-image: url("/assets/cat-icon-orange.png");
	}
	.cat-card-red .cat-card-head:before{
		background-image: url("/assets/cat-icon-red.png");
	}
	.cat-card-yellow .cat-card-head:before{
		background-image: url("/assets/cat-icon-yellow.png");
	}
	.cat-card-green .cat-card-head:before{
		background-image: url("/assets/cat-icon-green.png");
	}
	.cat-card-blue .cat-card-head:before{
		background-image: url("/assets/cat-icon-blue.png");
	}
}

.comp-list li{
	margin-left: 75px;
	margin-bottom: 10px;
}


@media only screen and (max-width: 1640px) {

.org-all{
	.cat-card{
		width: 25%;
		&:nth-child(5n+1){
			clear: none;
			.child{
				right: auto;
				left: 50%;
				@include vendor-prefix(transform, "translateX(-50%)");
				&:before{
					right: auto;
					left: 50%;
					@include vendor-prefix(transform, "translateX(-50%)");
				}
			}
		}
		&:nth-child(5n+5){
			.child{
				right: auto;
				left: 50%;
				@include vendor-prefix(transform, "translateX(-50%)");
				&:before{
					right: auto;
					left: 50%;
					@include vendor-prefix(transform, "translateX(-50%)");
				}
			}
		}
		&:nth-child(4n+1){
			clear: left;
			.child{
				right: auto;
				left: 40px;
				@include vendor-prefix(transform, "translateX(0%)");
				&:before{
					right: auto;
					left: 20px;
					@include vendor-prefix(transform, "translateX(0%)");
				}
			}
		}
		&:nth-child(4n+4){
			.child{
				left: auto;
				right: 20%;
				@include vendor-prefix(transform, "translateX(0%)");
				&:before{
					left: auto;
					right: 20px;
					@include vendor-prefix(transform, "translateX(0%)");
				}
			}
		}
	}
}

}

@media only screen and (max-width: 1366px) {

}

@media only screen and (max-width: 1280px) {

.org-all{
	.cat-card{
		width: 33.33%;
		&:nth-child(4n+1){
			clear: none;
			.child{
				right: auto;
				left: 50%;
				@include vendor-prefix(transform, "translateX(-50%)");
				&:before{
					right: auto;
					left: 50%;
					@include vendor-prefix(transform, "translateX(-50%)");
				}
			}
		}
		&:nth-child(4n+4){
			.child{
				right: auto;
				left: 50%;
				@include vendor-prefix(transform, "translateX(-50%)");
				&:before{
					right: auto;
					left: 50%;
					@include vendor-prefix(transform, "translateX(-50%)");
				}
			}
		}
		&:nth-child(3n+1){
			clear: left;
			.child{
				right: auto;
				left: 40px;
				@include vendor-prefix(transform, "translateX(0%)");
				&:before{
					right: auto;
					left: 20px;
					@include vendor-prefix(transform, "translateX(0%)");
				}
			}
		}
		&:nth-child(3n+3){
			.child{
				left: auto;
				right: 20%;
				@include vendor-prefix(transform, "translateX(0%)");
				&:before{
					left: auto;
					right: 20px;
					@include vendor-prefix(transform, "translateX(0%)");
				}
			}
		}
	}
}

}

@media only screen and (max-width: 1124px) {

.org-all{
	.cat-card{
		width: 50%;
		&:nth-child(3n+1){
			clear: none;
			.child{
				right: auto;
				left: 50%;
				@include vendor-prefix(transform, "translateX(-50%)");
				&:before{
					right: auto;
					left: 50%;
					@include vendor-prefix(transform, "translateX(-50%)");
				}
			}
		}
		&:nth-child(3n+3){
			.child{
				right: auto;
				left: 50%;
				@include vendor-prefix(transform, "translateX(-50%)");
				&:before{
					right: auto;
					left: 50%;
					@include vendor-prefix(transform, "translateX(-50%)");
				}
			}
		}
		&:nth-child(2n+1){
			clear: left;
			.child{
				right: auto;
				left: 40px;
				@include vendor-prefix(transform, "translateX(0%)");
				&:before{
					right: auto;
					left: 20px;
					@include vendor-prefix(transform, "translateX(0%)");
				}
			}
		}
		&:nth-child(2n+2){
			.child{
				left: auto;
				right: 20%;
				@include vendor-prefix(transform, "translateX(0%)");
				&:before{
					left: auto;
					right: 20px;
					@include vendor-prefix(transform, "translateX(0%)");
				}
			}
		}
	}
}

}

@media only screen and (max-width: 980px) {

}

@media only screen and (max-width: 820px) {

}

@media only screen and (max-width: 740px) { /* cover iPhone 640w */ 

}

@media only screen and (max-width: 620px) { /* cover iPhone 480*/ 

.org-all{
	padding: 0 12%;
	.cat-card{
		width: 100%;
		&:nth-child(2n+1){
			.child{
				right: auto;
				left: auto;
				@include vendor-prefix(transform, "translateX(0%)");
				&:before{
					right: auto;
					left: 20px;
					@include vendor-prefix(transform, "translateX(0%)");
				}
			}
		}
		&:nth-child(2n+2){
			.child{
				right: auto;
				left: auto;
				@include vendor-prefix(transform, "translateX(0%)");
				&:before{
					right: auto;
					left: 20px;
					@include vendor-prefix(transform, "translateX(0%)");
				}
			}
		}
		.child{
			position: relative;
			width: 80%;
			left: 50%;
			@include vendor-prefix(transform, "translateX(-50%)");
		}
	}
}

}

@media only screen and (max-width: 480px) {

.org-all{
	padding: 0 0;
	.event-head{
		font-size: $ft-normal !important;
	}
	.cat-card{
		margin-bottom: 20px;
		.child{
			width: 90%;
			margin-top: 10px;
			&:before{
				left: 40px !important;
			}
		}
	}
}

}

@media only screen and (max-width: 380px) {

.org-all{
	.cat-card{
		.child{
			li{
				width: 50%;
				&:nth-child(3n+1){
					clear: none;
				}
				&:nth-child(2n+1){
					clear: left;
				}
			}
		}
	}
}

}

@media only screen and (max-width: 340px) {

}