#page{
	border-radius: 10px;
	background-color: #ffffff;
	margin: 0 130px;
}


@media only screen and (max-width: 1640px) {

#page{
	margin: 0 100px;
}

}

@media only screen and (max-width: 1366px) {

#page{
	margin: 0 70px;
}

}

@media only screen and (max-width: 980px) {

#page{
	margin: 0 15px;
}

}


@media only screen and (max-width: 740px) {

#page{
	border-radius: 0px;
	margin: 0 0;
}

}

