@import "0-default";

.select-categories{
	display: none;
	li:first-child{
		label{
			border-top-left-radius: 2px;
			border-top-right-radius: 2px;
		}
	}
	li:last-child{
		label{
			border-bottom-left-radius: 2px;
			border-bottom-right-radius: 2px;
			border-bottom: 0px solid transparent;
		}
	}
	li.confirmSelect{
		border-bottom: 1px solid #ccc;
	}
	label {
		margin-bottom: 0px;
	}
}

.select-regions{
	display: none;
}

.select-date{
	display: none;
	background-color: $cl-white;
}

.select-show{
	display: block !important;
}

span.ui-state-highlight {
  font-weight: 800;
}

.select-wrapper{
	width: 33.33%;
	float: left;
	position: relative;
	@include vendor-prefix(box-sizing, "border-box");
	&:before{
		content: "";
		height: 5px;
		@include transY-center;
		position: absolute;
		background-color: $cl-pink;
	}
	&.select-wrapper-categories{
		padding: 10px 15px 10px 10px;
		&:before{
			right: 0;
			width: 50%;
		}
	}
	&.select-wrapper-regions{
		padding: 10px 15px;
		&:before{
			right: 0;
			width: 100%;
		}
	}
	&.select-wrapper-date{
		padding: 10px 10px 10px 15px;
		&:before{
			left: 0;
			width: 50%;
		}
	}
	.select-button{
		position: relative;
		max-width: 420px;
		display: block;
		text-align: center;
		border-radius: 5px;
		padding: 10px 10px;
		color: $cl-white;
		cursor: pointer;
		text-transform: uppercase;
		font-weight: bold;
		font-size: $ft-m;
		background: #e255b0;
			background: -moz-linear-gradient(top, #c1047c 17%, #e255b0 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(17%, #c1047c), color-stop(100%, #e255b0));
			background: -webkit-linear-gradient(top, #c1047c 17%, #e255b0 100%);
			background: -o-linear-gradient(top, #c1047c 17%, #e255b0 100%);
			background: -ms-linear-gradient(top, #c1047c 17%, #e255b0 100%);
			background: linear-gradient(to bottom, #c1047c 17%, #e255b0 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b10c76', endColorstr='@magenta-light', GradientType=0);
		&:after{
			content: "";
			position: absolute;
			right: 10px;
			@include transY-center;
			background: url('/assets/sprite-arrows.png') no-repeat -48px -2px;
			width: 25px; height: 17px;
		}
		&:hover, &.button-show{
		background: -moz-linear-gradient(top, #e255b0 0%, #c1047c 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e255b0), color-stop(100%, #c1047c));
		background: -webkit-linear-gradient(top, #e255b0 0%, #c1047c 100%);
		background: -o-linear-gradient(top, #e255b0 0%, #c1047c 100%);
		background: -ms-linear-gradient(top, #e255b0 0%, #c1047c 100%);
		background: linear-gradient(to bottom, #e255b0 0%, #c1047c 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@magenta-light', endColorstr='#d61190', GradientType=0);
		}
		&.button-categories{
			&.category-blue{
					background: #2d8ac1;
					background: -moz-linear-gradient(top, #2d8ac1 0%, #5fbdf4 100%);
					background: -webkit-gradient(left top, left bottom, color-stop(0%, #2d8ac1), color-stop(100%, #5fbdf4));
					background: -webkit-linear-gradient(top, #2d8ac1 0%, #5fbdf4 100%);
					background: -o-linear-gradient(top, #2d8ac1 0%, #5fbdf4 100%);
					background: -ms-linear-gradient(top, #2d8ac1 0%, #5fbdf4 100%);
					background: linear-gradient(to bottom, #2d8ac1 0%, #5fbdf4 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d8ac1', endColorstr='#5fbdf4', GradientType=0 );
				&:hover, &.button-show{
				background: #5fbdf4;
				background: -moz-linear-gradient(top, #5fbdf4 0%, #2d8ac1 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, #5fbdf4), color-stop(100%, #2d8ac1));
				background: -webkit-linear-gradient(top, #5fbdf4 0%, #2d8ac1 100%);
				background: -o-linear-gradient(top, #5fbdf4 0%, #2d8ac1 100%);
				background: -ms-linear-gradient(top, #5fbdf4 0%, #2d8ac1 100%);
				background: linear-gradient(to bottom, #5fbdf4 0%, #2d8ac1 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5fbdf4', endColorstr='#2d8ac1', GradientType=0 );
				}
			}
			&.category-green{
					background: #a4b303;
					background: -moz-linear-gradient(top, #a4b303 0%, #d7e636 100%);
					background: -webkit-gradient(left top, left bottom, color-stop(0%, #a4b303), color-stop(100%, #d7e636));
					background: -webkit-linear-gradient(top, #a4b303 0%, #d7e636 100%);
					background: -o-linear-gradient(top, #a4b303 0%, #d7e636 100%);
					background: -ms-linear-gradient(top, #a4b303 0%, #d7e636 100%);
					background: linear-gradient(to bottom, #a4b303 0%, #d7e636 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b303', endColorstr='#d7e636', GradientType=0 );
				&:hover, &.button-show{
				background: #d7e636;
				background: -moz-linear-gradient(top, #d7e636 0%, #a4b303 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, #d7e636), color-stop(100%, #a4b303));
				background: -webkit-linear-gradient(top, #d7e636 0%, #a4b303 100%);
				background: -o-linear-gradient(top, #d7e636 0%, #a4b303 100%);
				background: -ms-linear-gradient(top, #d7e636 0%, #a4b303 100%);
				background: linear-gradient(to bottom, #d7e636 0%, #a4b303 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7e636', endColorstr='#a4b303', GradientType=0 );
				}
			}
			&.category-red{
					background: #c2330d;
					background: -moz-linear-gradient(top, #c2330d 0%, #f5662f 100%);
					background: -webkit-gradient(left top, left bottom, color-stop(0%, #c2330d), color-stop(100%, #f5662f));
					background: -webkit-linear-gradient(top, #c2330d 0%, #f5662f 100%);
					background: -o-linear-gradient(top, #c2330d 0%, #f5662f 100%);
					background: -ms-linear-gradient(top, #c2330d 0%, #f5662f 100%);
					background: linear-gradient(to bottom, #c2330d 0%, #f5662f 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2330d', endColorstr='#f5662f', GradientType=0 );
				&:hover, &.button-show{
				background: #f5662f;
				background: -moz-linear-gradient(top, #f5662f 0%, #c2330d 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, #f5662f), color-stop(100%, #c2330d));
				background: -webkit-linear-gradient(top, #f5662f 0%, #c2330d 100%);
				background: -o-linear-gradient(top, #f5662f 0%, #c2330d 100%);
				background: -ms-linear-gradient(top, #f5662f 0%, #c2330d 100%);
				background: linear-gradient(to bottom, #f5662f 0%, #c2330d 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5662f', endColorstr='#c2330d', GradientType=0 );
				}
			}
			&.category-orange{
					background: #dd6500;
					background: -moz-linear-gradient(top, #dd6500 0%, #ff9811 100%);
					background: -webkit-gradient(left top, left bottom, color-stop(0%, #dd6500), color-stop(100%, #ff9811));
					background: -webkit-linear-gradient(top, #dd6500 0%, #ff9811 100%);
					background: -o-linear-gradient(top, #dd6500 0%, #ff9811 100%);
					background: -ms-linear-gradient(top, #dd6500 0%, #ff9811 100%);
					background: linear-gradient(to bottom, #dd6500 0%, #ff9811 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd6500', endColorstr='#ff9811', GradientType=0 );
				&:hover, &.button-show{
				background: #ff9811;
				background: -moz-linear-gradient(top, #ff9811 0%, #dd6500 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, #ff9811), color-stop(100%, #dd6500));
				background: -webkit-linear-gradient(top, #ff9811 0%, #dd6500 100%);
				background: -o-linear-gradient(top, #ff9811 0%, #dd6500 100%);
				background: -ms-linear-gradient(top, #ff9811 0%, #dd6500 100%);
				background: linear-gradient(to bottom, #ff9811 0%, #dd6500 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9811', endColorstr='#dd6500', GradientType=0 );
				}
			}
			&.category-yellow{
					background: #cd9608;
					background: -moz-linear-gradient(top, #cd9608 0%, #ffc91b 100%);
					background: -webkit-gradient(left top, left bottom, color-stop(0%, #cd9608), color-stop(100%, #ffc91b));
					background: -webkit-linear-gradient(top, #cd9608 0%, #ffc91b 100%);
					background: -o-linear-gradient(top, #cd9608 0%, #ffc91b 100%);
					background: -ms-linear-gradient(top, #cd9608 0%, #ffc91b 100%);
					background: linear-gradient(to bottom, #cd9608 0%, #ffc91b 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cd9608', endColorstr='#ffc91b', GradientType=0 );
				&:hover, &.button-show{
				background: #ffc91b;
				background: -moz-linear-gradient(top, #ffc91b 0%, #cd9608 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffc91b), color-stop(100%, #cd9608));
				background: -webkit-linear-gradient(top, #ffc91b 0%, #cd9608 100%);
				background: -o-linear-gradient(top, #ffc91b 0%, #cd9608 100%);
				background: -ms-linear-gradient(top, #ffc91b 0%, #cd9608 100%);
				background: linear-gradient(to bottom, #ffc91b 0%, #cd9608 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc91b', endColorstr='#cd9608', GradientType=0 );
				}
			}
		}
		&.button-categories{
			margin-left: 0;
		}
		&.button-regions{}
		&.button-date{
			margin-right: 0;
		}
	}
	.select-window-wrapper{
		position: absolute;
		z-index: 1;
		margin-top: 2px;
		z-index: 224;
		&.select-categories-wrapper{
			left: 0;
			width: 380px;
			max-width: 94% !important; max-width: 94vw !important;
			padding-left: 10px;
			padding-right: 10px;
			@include vendor-prefix(box-sizing, "border-box");
		}
		&.select-regions-wrapper{
			@include transX-center;
			width: 450px;
			@include vendor-prefix(box-sizing, "border-box");
			float: left;
			max-width: 92%; max-width: 92vw;
		}
		&.select-date-wrapper{
			right: 0;
			width: 380px;
			max-width: 94% !important; max-width: 94vw !important;
			padding-left: 10px;
			padding-right: 10px;
			@include vendor-prefix(box-sizing, "border-box");
		}
	}
	.select-window{
		border: 2px solid $cl-pink;
		border-radius: 5px;
		@include vendor-prefix(box-shadow, "0px 0px 12px 1px rgba(255, 255, 255, 1)");
		&:before{
			content: "";
			position: absolute;
			top: -11px;
			width: 35px; height: 13px;
			background-image: url("/assets/select-pointer.png");
		}
		&:after{
			content: "";
			position: absolute;
			top: -6px;
			width: 35px; height: 0px;
			@include vendor-prefix(box-shadow, "0px 0px 24px 3px rgba(255, 255, 255, 1)");
			z-index: -1;
		}
		&.select-regions{
			&:before, &:after{
				left: 50%;
				margin-left: -17.5px;
			}
		}
		&.select-categories{
			&:before, &:after{
				left: 15%;
			}
		}
		&.select-date{
			&:before, &:after{
				right: 15%;
			}
		}
		input[type=radio], input[type=checkbox]{
			display: none;
		}
		label{
			cursor: pointer;
			padding: 9px 12px;
			color: $cl-pink;
			display: block;
			text-align: center;
			border-bottom: 1px solid #ccc;
			background-color: $cl-white;
			&:hover, &.hover, &.region-no{
				color: $cl-white;
				background-color: $cl-pink;
			}
			&.region-no:hover{
				color: $cl-white;
				background-color: lighten($cl-pink, 5%);
			}
		}
		input[type=radio]:checked + label, input[type=checkbox]:checked + label{
			color: $cl-white;
			background-color: $cl-pink;
		}
		input[type=checkbox]:checked + label{
			&:hover, &.hover{
				color: $cl-white;
				background-color: lighten($cl-pink, 5%);
			}
		}
		.select-map-list{
			background-color: $cl-white;
			border-bottom-left-radius: 2px;
			border-bottom-right-radius: 2px;
			li{
				width: 33.33%;
				float: left;
				label{
					border-bottom: 0px solid transparent;
				}
			}
		}
	}
}

.select-map{
	background-color: $cl-white;
	width: 100%;
	padding: 12px;
	@include vendor-prefix(box-sizing, "border-box");
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	.box-ratio-for-map{
		position: relative;
		&:before{
			content: "";
			display: block;
			padding-top: 57.2431957858%;
		}
	}
	#czech-map-svg{
		width: 100%; height: 100%;
	}
}

.czech-map-area{
	cursor: pointer;
	fill: #f6f6f6;
	&:hover{
		fill: $cl-pink;
	}
	&.hover{
		fill: $cl-pink;
	}
	&[data-checked=true]{
		fill: $cl-pink;
		&:hover, &.hover{
			fill: lighten($cl-pink, 5%);
		}
	}
}

.select-search-wrapper{
	float: left;
	padding: 0 10px 10px 10px;
	width: 420px;
	max-width: 100%;
	@include vendor-prefix(box-sizing, "border-box");
	.select-search{
		background-color: #E8E8E8;
		border-radius: 5px;
		padding: 15px;
		line-height: 1.4em;
		position: relative;
		label{
			font-size: $ft-m;
			font-weight: bold;
			color: $cl-pink;
			display: block;
			margin-bottom: 5px;
		}
		input[type="text"]{
			@include vendor-prefix(box-sizing, "border-box");
			border-radius: 5px;
			@include vendor-prefix(box-shadow, "inset 0 1px 1px rgba(0,0,0,.075)");
			padding: 6px 50px 6px 12px;
			height: 39px;
			font-size: $ft-normal;
			border: 1px solid #ccc;
			color: $cl-grey-dark;
			width: 100%;
		}
		input[type=submit]{
			width: 0px; height: 0px;
			padding: 15px 17px 16px 17px;
			background-image: url("/assets/search-submit.png");
			color: transparent;
			background-color: transparent;
			@include vendor-prefix(box-shadow, "0 0px 0px rgba(0,0,0,0)");
			border: 0px solid transparent;
			cursor: pointer;
			position: absolute;
			right: 19px; bottom: 19px;
			opacity: .8;
			&:hover{
				opacity: 1;
			}
		}
	}
}

.daterangepicker{
	border: 2px solid $cl-pink;
	margin-top: 2px;
	@include vendor-prefix(box-shadow, "0px 0px 12px 1px rgba(255, 255, 255, 1)");
	&:before{
		content: "";
		position: absolute;
		top: -13px !important;
		width: 35px !important; height: 13px !important;
		background-image: url("/assets/select-pointer.png") !important;
		right: 15% !important;
		border-left: 0px solid transparent !important;
		border-right: 0px solid transparent !important;
		border-top: 0px solid transparent !important;
		border-bottom: 0px solid transparent !important;
	}
	&:after{
		content: "";
		position: absolute;
		top: -5px !important;
		width: 35px !important; height: 0px !important;
		background-image: url("") !important;
		right: 15% !important;
		border-left: 0px solid transparent !important;
		border-right: 0px solid transparent !important;
		border-top: 0px solid transparent !important;
		border-bottom: 0px solid transparent !important;
		@include vendor-prefix(box-shadow, "0px 0px 20px 3px rgba(255, 255, 255, 1)");
		z-index: -1;
	}
}

.submitSelect label {
  cursor: pointer;
  padding: 0 !important;
  font-size: 12px;
  float: right;
  line-height: 1.5;
  margin-right: 3px;
  border: 0 !important;
  background-color: #c1047c !important;
  color: white !important;
}

.window-backdrop{
	position: fixed;
	left: 0; top: 0;
	right: 0; bottom: 0;
	background-color: #000;
	opacity: .5;
	z-index: 222;
}
.confirmSelect{
	background-color: white;
	padding: 3px !important;
	.submitSelect{
		cursor: pointer;
		padding: 5px 10px;
		font-size: 12px;
		float: right;
		line-height: 1.5;
		margin-right: 3px;
		border: 1px solid transparent;
		background-color: #c1047c;
		color: white;
		&:hover{
			color: black;
		}
	}
	.cancelSelect{
		cursor: pointer;
		padding: 5px 10px;
		font-size: 12px;
		float: right;
		line-height: 1.5;
		border: 1px solid transparent;
		background-color: #fff;
	    border-color: #ccc;
		&:hover{
		    background-color: #e6e6e6;
			border-color: #adadad;
		}
	}
}

@media only screen and (max-width: 1280px) {

.select-wrapper{
	.select-button{
		height: 2.25em;
		&:after{
			display: none;
		}
	}
}

}

@media only screen and (max-width: 820px) {

.select-wrapper{
	&.select-wrapper-categories{
		padding-right: 5px !important;
	}
	&.select-wrapper-regions{
		padding-left: 5px !important;
		padding-right: 5px !important;
	}
	&.select-wrapper-date{
		padding-left: 5px !important;
	}
	.select-button{
		font-size: $ft-normal;
	}
}

}

@media only screen and (max-width: 740px) {

.select-wrapper{
	.select-button{
		height: 3.375em;
		&:after{
			display: none;
		}
	}
}

}
@media only screen and (max-width: 480px) {

.select-regions label{
	font-size: $ft-xs;
	padding: 16px 2px !important;
}

.select-wrapper{
	.select-button{
		font-size: $ft-xs;
	}
}

}
