@import "0-default";

.default-text.show-page{
	.form-default{
		margin: 20px;
	}
	h1{
		font-size: $ft-xxl;
		font-weight: normal;
		line-height: 1em;
		color: $cl-grey-dark;
		margin: 10px 0;
		padding-top: 25px;
	}
}