@import "0-default";

#site_bar{
	position: fixed;
	left: 0; bottom: 98%; top: auto;
	opacity: .4;
	@include vendor-prefix(box-sizing, "border-box");
	padding-right: 20px;
	@include vendor-prefix(transition-duration, ".3s");
	width: 100%;
	z-index: 99999;
	&:hover{
		top: 0px; bottom: auto;
		opacity: 1;
	}
	#site_bar_content #site_bar_branding{
		width: 50% !important;
	}
}
