@import "0-default";

.help_tooltip{
	.this_tooltip{
		display: none;
	}
	&:hover{
		position: relative;
		.this_tooltip{
	    display: block;
	    background: lightblue;
	    color: black;
	    position: absolute;
	    padding: 10px;
	    border-radius: 10px;
	    left: 100%;
	    top: 0;
	    margin-top: -50%;
        z-index: 100;
          width: 200px;
		}		
	}

	// &:hover{
	// 	display: block;
	// }
}