

<h3>User</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>

</br>
</br>

<h4>Posted Events</h4>
<table class="table">
  <thead>
    <th>ID</th>
    <th>Title</th>
    <th>Category</th>
  </thead>
  <tbody>
    <% @user.events.each do |event| %>
      <tr>
        <td><%= event.id %></td>
        <td><%= link_to event.title, event %></td>
        <td><%= link_to event.category.name, event.category %></td>
      </tr>
    <% end %>
  </tbody>
</table>
