<div class="select-wrapper select-wrapper-categories">
  <label class="button-categories select-button category-" for="category">Všechny kategorie</label>
  <div class="categories-backdrop window-backdrop hide"></div>


  <div class="select-categories-wrapper select-window-wrapper">
    <ul class="select-categories no-style select-window">
      <li class="confirmSelect">
        <div class="submitSelect">Potvrdit</div>
        <div class="cancelSelect">Zrušit</div>
            <div class="submitSelect f-left">
              <label for="category_nil">Všechny kategorie</label>
            </div>
        <div class="clearfix"></div>
      </li>
      <% Category.all.each do |k| %>
          <li>
            <%#= radio_button_tag "category", k.id, params[:category] ? params[:category].include?("#{k.id}") : false, id: :"category_#{k.id}" %>
            <%= check_box_tag "category[]", k.id, (params[:category] ? params[:category].include?("#{k.id}") : (params[:id] == k.slug ? true : false)), id: :"category_#{k.id}" %>
            <%= label_tag :"category_#{k.id}", k.name %>
          </li>
      <% end %>
    </ul>
  </div>
</div>
