<%= form_tag events_path, method: 'get', class: "select-form", id: "main_search_form" do %>
    <%= hidden_field_tag :delete_text, nil %>
    <input type="hidden" name="delete_text" id="delete_text">

    <%= render "category_select" %>

    <div class="select-wrapper select-wrapper-regions">
      <label class="button-regions select-button" for="region">Česká republika</label>
      <div class="regions-backdrop window-backdrop hide"></div>
      <div class="select-regions-wrapper select-window-wrapper">
        <div class="select-regions select-window">
          <div class="arrow"></div>
          <div class="confirmSelect">
            <div class="cancelSelect">Zrušit</div>
            <div class="submitSelect">Potvrdit</div>
            <div class="clearfix"></div>
          </div>
          <div class="select-map">
            <div class="box-ratio-for-map">
              <div class="content-ratio">


              <%= render "czech_map" %>

              </div>
            </div>
          </div>
          <ul class="select-map-list no-style">
            <li>
              <label for="region_reset" class="region-no">Česká republika</label>
            </li>
                <li>
                  <input type="checkbox" name="region[]" id="region_0" value="0">
                  <label for="region_0">Praha</label>
                </li>
                <li>
                  <input type="checkbox" name="region[]" id="region_10" value="10">
                  <label for="region_10">Středočeský</label>
                </li>
                <li>
                  <input type="checkbox" name="region[]" id="region_11" value="11">
                  <label for="region_11">Ústecký</label>
                </li>
                <li>
                  <input type="checkbox" name="region[]" id="region_5" value="5">
                  <label for="region_5">Liberecký</label>
                </li>
                <li>
                  <input type="checkbox" name="region[]" id="region_6" value="6">
                  <label for="region_6">Moravskoslezský</label>
                </li>
                <li>
                  <input type="checkbox" name="region[]" id="region_3" value="3">
                  <label for="region_3">Karlovarský</label>
                </li>
                <li>
                  <input type="checkbox" name="region[]" id="region_4" value="4">
                  <label for="region_4">Královéhradecký</label>
                </li>
                <li>
                  <input type="checkbox" name="region[]" id="region_7" value="7">
                  <label for="region_7">Olomoucký</label>
                </li>
                <li>
                  <input type="checkbox" name="region[]" id="region_9" value="9">
                  <label for="region_9">Plzeňský</label>
                </li>
                <li>
                  <input type="checkbox" name="region[]" id="region_8" value="8">
                  <label for="region_8">Pardubický</label>
                </li>
                <li>
                  <input type="checkbox" name="region[]" id="region_13" value="13">
                  <label for="region_13">Zlínský</label>
                </li>
                <li>
                  <input type="checkbox" name="region[]" id="region_1" value="1">
                  <label for="region_1">Jihočeský</label>
                </li>
                <li>
                  <input type="checkbox" name="region[]" id="region_12" value="12">
                  <label for="region_12">Vysočina</label>
                </li>
                <li>
                  <input type="checkbox" name="region[]" id="region_2" value="2">
                  <label for="region_2">Jihomoravský</label>
                </li>
            <div class="clearfix"></div>
          </ul>
        </div>
      </div>
    </div>

    <div class="select-wrapper select-wrapper-date">
      <%= label_tag 'date', get_date_label_value,
                    class: "button-date select-button datetimerange" %>
      <div class="date-backdrop window-backdrop hide"></div>
      <div class="sselect-date-wrapper sselect-window-wrapper">
        <div class="sselect-date sselect-window">
          <%#= label_tag 'date_from', t('search.date_from_label') %>
          <%= hidden_field_tag :start_time, nil %>
          <%#= text_field_tag :date_from, nil, class: "datepicker-1 input-group" %>
          <!-- <div class="datepicker-1"></div> -->
          <%#= datetime_field_tag :date_from %>
          <%#= label_tag 'date_to', t('search.date_to_label') %>
          <%= hidden_field_tag :end_time, nil %>
          <%#= text_field_tag :date_to, nil, class: "datepicker-2 input-group" %>
          <!-- <div class="datepicker-2"></div> -->
          <%#= datetime_field_tag :date_to %>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="select-search-wrapper">
      <div class="select-search">
        <label for="text">NAJDĚTE SI CO CHCETE DĚLAT</label>
        <input type="text" name="text" id="text" placeholder="Vyhledávejte..." data-autocompletepath="/udalosti/autocomplete" class="ui-autocomplete-input" autocomplete="off">
        <input type="submit" name="commit" value="Vyhledat" delete_text="1">
      </div>
    </div>

    <div class="banners-search">
      <%= link_to root_path, target: "_blank" do %>
        <%= image_tag("/system/images/banner_Veganske_hody_Brno_2015.gif") %>
      <% end %>
    </div>

    <div class="clearfix"></div>
<% end %>
