<%= render 'select_form' %>

<p id="notice"><%= notice %></p>

<div class="row categories-all">
  <% Category.all.each do |category| %>
    <div id="category_<%= category.id %>" class="category-card category-<%= category.slug %> position-<%= category.position %>">
      <div class="category-card-border"></div>
      <div class="category-card-content">
        <div class="category-card-content-inner">
          <%#= link_to refinery.categories_category_path(category), class: "card-head" do %>
            <div class="category-button"><%= category.name %></div>
          <%# end %>
          <ul class="category-card-list no-style">
            <% category.top_events.each do |event| %>
              <li><%= link_to event.title, event_path(event) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
</div>

<br>
<br>
<br>

<div class="clearfix"></div>


<div class="row">
  
  <%= paginate @events %>

  <br>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Category</th>
        <th>Description</th>
        <th>Start Time</th>
        <th>Venue</th>
        <th>Region</th>
      </tr>
    </thead>

    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= link_to event.title, event %></td>
          <td><%= link_to event.category.name, event.category %></td>
          <td><%= event.description %></td>
          <td><%= event.start_time %></td>
          <td><%= link_to event.venue.name, event.venue %></td>
          <td><%= link_to event.venue.region.name, event.venue.region %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
