

<p id="notice"><%= notice %></p>

<br>

<% if user_signed_in? %>
<p>
  <%= button_to "Add to Favorites", controller: "favorite_events", action: "create", favorite_event: {event_id: @event.id} %>
</p>
<% else %>
  <p>
    <strong>Sign in to add this event to your favorites</strong>
  </p>
<% end %>

<br>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Date from:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>Date to:</strong>
  <%= @event.end_time %>
</p>

<p>
  <strong>Organizer:</strong>
  <%= link_to @event.organizer.email, @event.organizer %>
</p>

<p>
  <strong>Venue:</strong>
  <%= link_to @event.venue.name, @event.venue %>
</p>

<p>
  <strong>Category:</strong>
  <%= link_to @event.category.name, @event.category %>
</p>

<p>
  <strong>Region:</strong>
  <%= link_to @event.venue.region.name, @event.venue.region %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @event.slug %>
</p>

<p>
  <strong>Position:</strong>
  <%= @event.position %>
</p>

<p>
  <strong>Accepted:</strong>
  <%= @event.accepted %>
</p>

<p>
  <strong>Image</strong>
  <img src="<%= @event.images.first.try(:link) %>" alt="Event image" />
</p>

<% if current_user && policy(@event).update? %>
  <%= link_to 'Edit', edit_event_path(@event) %> |
  <%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', events_path %>
