<%= form_tag events_path, method: 'get', class: "select-form", id: "main_search_form" do %>
    <%= hidden_field_tag :delete_text, nil %>
    <input type="hidden" name="delete_text" id="delete_text">

    <%= render "category_select" %>

    <div class="select-wrapper select-wrapper-regions">
      <label class="button-regions select-button" for="region">Česká republika</label>
      <div class="regions-backdrop window-backdrop hide"></div>
      <div class="select-regions-wrapper select-window-wrapper">
        <div class="select-regions select-window">
          <div class="arrow"></div>
          <div class="confirmSelect">
            <div class="cancelSelect">Zrušit</div>
            <div class="submitSelect">Potvrdit</div>
            <div class="clearfix"></div>
          </div>
          <div class="select-map">
            <div class="box-ratio-for-map">
              <div class="content-ratio">


              <%= render "czech_map" %>

              </div>
            </div>
          </div>
          <ul class="select-map-list no-style">
            <li>
              <label for="region_reset" class="region-no">Česká republika</label>
            </li>
                <li>
                  <input type="checkbox" name="region[]" id="region_0" value="0">
                  <label for="region_0">Praha</label>
                </li>
                <li>
                  <input type="checkbox" name="region[]" id="region_10" value="10">
                  <label for="region_10">Středočeský</label>
                </li>
                <li>
                  <input type="checkbox" name="region[]" id="region_11" value="11">
                  <label for="region_11">Ústecký</label>
                </li>
                <li>
                  <input type="checkbox" name="region[]" id="region_5" value="5">
                  <label for="region_5">Liberecký</label>
                </li>
                <li>
                  <input type="checkbox" name="region[]" id="region_6" value="6">
                  <label for="region_6">Moravskoslezský</label>
                </li>
                <li>
                  <input type="checkbox" name="region[]" id="region_3" value="3">
                  <label for="region_3">Karlovarský</label>
                </li>
                <li>
                  <input type="checkbox" name="region[]" id="region_4" value="4">
                  <label for="region_4">Královéhradecký</label>
                </li>
                <li>
                  <input type="checkbox" name="region[]" id="region_7" value="7">
                  <label for="region_7">Olomoucký</label>
                </li>
                <li>
                  <input type="checkbox" name="region[]" id="region_9" value="9">
                  <label for="region_9">Plzeňský</label>
                </li>
                <li>
                  <input type="checkbox" name="region[]" id="region_8" value="8">
                  <label for="region_8">Pardubický</label>
                </li>
                <li>
                  <input type="checkbox" name="region[]" id="region_13" value="13">
                  <label for="region_13">Zlínský</label>
                </li>
                <li>
                  <input type="checkbox" name="region[]" id="region_1" value="1">
                  <label for="region_1">Jihočeský</label>
                </li>
                <li>
                  <input type="checkbox" name="region[]" id="region_12" value="12">
                  <label for="region_12">Vysočina</label>
                </li>
                <li>
                  <input type="checkbox" name="region[]" id="region_2" value="2">
                  <label for="region_2">Jihomoravský</label>
                </li>
            <div class="clearfix"></div>
          </ul>
        </div>
      </div>
    </div>

    <div class="select-wrapper select-wrapper-date">
      <label class="button-date select-button datetimerange" for="date">Dnes 02. březen 2016</label>
      <div class="date-backdrop window-backdrop hide"></div>
      <div class="sselect-date-wrapper sselect-window-wrapper">
        <div class="sselect-date sselect-window">
          <input type="hidden" name="date_from" id="date_from">
          <!-- <div class="datepicker-1"></div> -->
          <input type="hidden" name="date_to" id="date_to">
          <!-- <div class="datepicker-2"></div> -->
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="select-search-wrapper">
      <div class="select-search">
        <label for="text">NAJDĚTE SI CO CHCETE DĚLAT</label>
        <input type="text" name="text" id="text" placeholder="Vyhledávejte..." data-autocompletepath="/udalosti/autocomplete" class="ui-autocomplete-input" autocomplete="off">
        <input type="submit" name="commit" value="Vyhledat" delete_text="1">
      </div>
    </div>

    <div class="banners-search">
      	<div>
    <a target="_blank" href="&lt;a href=&quot;http://brno.veganskehody.cz/&quot;&gt;&lt;img src=&quot;http://brno.veganskehody.cz/wp-content/uploads/2015/04/banner_Veganske_hody_Brno_2015.gif&quot; border=&quot;0&quot; alt=&quot;Veganske Hody Brno 2015&quot; title=&quot;Veganské Hody Brno 2015&quot;&gt;&lt;/a&gt;">
      <img src="/system/images/W1siZiIsIjIwMTUvMDkvMDIvN2N2dnBraGF3aF9iYW5uZXJfVmVnYW5za2VfaG9keV9Ccm5vXzIwMTUuZ2lmIl0sWyJwIiwidGh1bWIiLCI3Mjh4OTAiXV0/banner_Veganske_hody_Brno_2015.gif?sha=2013834dc9f51dca" alt="Banner veganske hody brno 2015">
</a>  </div>
    </div>

    <div class="clearfix"></div>
<% end %>
