<p id="notice"><%= notice %></p>

<h1>Listing Venues</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>City</th>
      <th>Region</th>
    </tr>
  </thead>

  <tbody>
    <% @venues.each do |venue| %>
      <tr>
        <td><%= venue.id %></td>
        <td><%= link_to venue.name, venue %></td>
        <td><%= venue.city %></td>
        <td><%= venue.region.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.try(:admin?) %>
  <%= link_to 'New Venue', new_venue_path %>
<% end %>
