

<p id="notice"><%= notice %></p>

<h2><%= @venue.name %></h2>

<p>
  <strong>Street:</strong>
  <%= @venue.street %>
</p>

<p>
  <strong>Owner:</strong>
  <%= link_to @venue.owner.email, @venue.owner %>
</p>

<p>
  <strong>City:</strong>
  <%= @venue.city %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @venue.zipcode %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @venue.phone_number %>
</p>

<p>
  <strong>Agree with conditions:</strong>
  <%= @venue.agree_with_conditions %>
</p>

<p>
  <strong>Description:</strong>
  <%= @venue.description %>
</p>

<p>
  <strong>Business hours:</strong>
  <%= @venue.business_hours %>
</p>

<p>
  <strong>Website:</strong>
  <a target="_blank" href="<%= @venue.website %>"><%= @venue.website %></a>

</p>

<p>
  <strong>Contact email:</strong>
  <%= @venue.contact_email %>
</p>

<p>
  <strong>Gps lat:</strong>
  <%= @venue.gps_lat %>
</p>

<p>
  <strong>Gps lon:</strong>
  <%= @venue.gps_lon %>
</p>

<% if policy(@venue).update? %>
  <%= link_to 'Edit', edit_venue_path(@venue) %> |
  <%= link_to 'Destroy', @venue, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', venues_path %>

<br>
<br>
<br>

<h1>Events at <%= @venue.name %></h1>

<table class="table">
  <thead>
    <th>ID</th>
    <th>Title</th>
    <th>Category</th>
  </thead>
  <tbody>
    <% @venue.events.each do |event| %>
      <tr>
        <td><%= event.id %></td>
        <td><%= link_to event.title, event %></td>
        <td><%= link_to event.category.name, event.category %></td>
      </tr>
    <% end %>
  </tbody>
</table>
