<div class="container main">

<p id="notice"><%= notice %></p>

<h2><%= @category.name %></h2>
<p>
  <strong>Parent:</strong>
  <%= @category.parent_id %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @category.slug %>
</p>

<p>
  <strong>Position:</strong>
  <%= @category.position %>
</p>

<h3>Events</h3>
<% @category.events.each do |event| %>
  <tr>
    <td><%= event.id %></td>
    <td><%= link_to event.title, event %></td>

  </tr>
<% end %>

</br>
</br>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Destroy', @category, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', categories_path %>

</div>
