
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @region.name %>
</p>

<p>
  <strong>ID:</strong>
  <%= @region.id %>
</p>

<%= link_to 'Edit', edit_region_path(@region) %> |
<%= link_to 'Back', regions_path %>

<br>
<br>
<br>

<h1>Events in <%= @region.name %></h1>

<table class="table">
  <thead>
    <th>ID</th>
    <th>Title</th>
    <th>Category</th>
  </thead>
  <tbody>
    <% @region.events.each do |event| %>
      <tr>
        <td><%= event.id %></td>
        <td><%= link_to event.title, event %></td>
        <td><%= link_to event.category.name, event.category %></td>
      </tr>
    <% end %>
  </tbody>
</table>
