<p id="notice"><%= notice %></p>

<h1>Listing Images</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Link</th>
      <th>Primary</th>
      <th>Caption</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= image.event_id %></td>
        <td><%= image.link %></td>
        <td><%= image.primary %></td>
        <td><%= image.caption %></td>
        <td><%= link_to 'Show', event_image(image) %></td>
        <td><%= link_to 'Edit', edit_image_event_path(image) %></td>
        <td><%= link_to 'Destroy', event_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image', new_image_event_path %>
