<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @image.event_id %>
</p>

<p>
  <strong>Path:</strong>
  <%= @image.link %>
</p>

<p>
  <strong>Primary:</strong>
  <%= @image.primary %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @image.caption %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
