<h1>
  <%= link_to root_path do %><%= image_tag("logo.png", class: "logo-main") %><% end %>
</h1>

<nav id="menu" class="menu">
  <ul class="no-style">
    <li class="first"><%= link_to 'Venues', venues_path, class: "link_4" %></li>
    <li><%= link_to 'Favorites', favorite_events_path, class: "link_4" %></li>
    <li><%= link_to 'Add event', new_event_path, class: "link_7" %></li>
    <% if user_signed_in? %>
      <li><%= link_to 'Edit account', edit_user_registration_path %></li>
      <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
    <% else %>
      <li><%= link_to 'Sign in', new_user_session_path %></li>
      <li><%= link_to t('sign_up'), new_user_registration_path %></li>
    <% end %>
  </ul>
</nav>

<div class="clearfix"></div>
<div id="flash_wrapper"></div>
