<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "My Application" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "My Application" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  </head>
  <body id="vitejte-page" class="fullwidth ">
    <div id="page_container" class="fullwidth">
      <header id="header">
        <%= render 'layouts/navigation' %>
      </header>
      <%= render 'layouts/messages' %>
      <section id="page">
        <%= yield %>
      </section>
      <footer>
        <p>
        <%= link_to_unless I18n.locale == :en, "English", set_language_english_path %>
        |
        <%= link_to_unless I18n.locale == :cs, "Czech", set_language_czech_path %>
        </p>
      </footer>
    </div>
  </body>
</html>
