<!-- Navigation -->
<nav class="navbar navbar-default topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="/">
              <img src="/assets/logo.png" alt="CoBudemeDelat?" />
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

              <ul class="nav navbar-nav navbar-right main-nav">
                  <% if user_signed_in? %>
                    <li><%= link_to "Favorites", favorite_events_path %></li>
                  <% end %>
                  <li>
                      <%= link_to "Events", events_path%>
                  </li>
                  <li>
                      <%= link_to "Categories", categories_path%>
                  </li>
                  <li>
                      <%= link_to "Venues", venues_path%>
                  </li>
                  <% if user_signed_in? %>
                    <li><%= link_to 'Edit account', edit_user_registration_path %></li>
                    <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
                  <% else %>
                    <li><%= link_to 'Sign in', new_user_session_path %></li>
                    <li><%= link_to 'Sign up', new_user_registration_path %></li>
                  <% end %>
                  <% if user_signed_in? %>
                    <% if current_user.try(:admin?) %>
                      <li><%= link_to 'Users', users_path %></li>
                    <% end %>
                  <% end %>
              </ul>

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
